{% include "include/head.html" %}
{% load account socialaccount %}
{% load i18n %}

<section class="mbr-section content5 cid-rYgxN4Lmvg" id="content5-7a">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-2">
                    Завершение регистрации</h3>
            </div>
        </div>
    </div>
</section>

<section class="extForm cid-rYgxqNBfXl mbr-parallax-background" id="extForm11-79">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 form-wrapper">
                <div class="form-head">
                    <h2 class="mbr-section-title form-title mbr-fonts-style align-center display-5">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</h2>
                </div>
                <div class="form1" data-form-type="formoid">
                    <!--Formbuilder Form-->
                    <form class="signup mbr-form form-with-styler" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
{% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
                        <div class="col-lg-12 col-md-12 col-sm-12 input-group-btn">
                            <button type="submit" class="btn btn-lg btn-form btn-secondary display-4">{% trans "Sign Up" %} &raquo;</button>
                        </div>
                    </form><!--Formbuilder Form-->
                </div>
            </div>
        </div>
    </div>
</section>

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}
