SECRET_KEY=my-very-secret-key
DEBUG=off
# Database connection url in format: postgres://user:pass@host:port/db_name
DATABASE_URL=sqlite:///db.sqlite3
EMAIL_URL=smtp+tls://email:pass@smtp.yandex.ru:587

ROBOKASSA_LOGIN=login
ROBOKASSA_PASS1=pass

TGRAM_TOKEN=token
TGRAM_PHRAZE=password
