celery~=5.2
Django~=2.2
django-allauth==0.48.0
django-celery-beat==2.2.1
django-cors-headers==3.11.0
django-environ==0.8.1
django-solo==1.2.0
djangorestframework==3.13.1
emoji==1.6.3
gunicorn==20.1.0
Pillow~=9
psycopg2==2.9.5
python-telegram-bot==12.8
redis==3.5.3
requests==2.27.1
sorl-thumbnail==12.8.0
youtube_dl==2021.12.17
django-import-export==2.7.1
telethon==1.24.0
