<section class="extTeams cid-rVqSw1Cs5K" id="extTeams8-5k">
    <div class="container">
        <div id="command_list" class="row row-content justify-content-center">
            {% include 'include/profile.html' %}
        </div>
    </div>
</section>

<section class="form cid-rXpns6YGF5" id="formbuilder-76">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form enctype="multipart/form-data" action="/account" method="POST" class="mbr-form form-with-styler">
                    {% csrf_token %}
                    <div class="form-row">
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!
                        </div>
                    </div>
                    <div class="dragArea form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="mbr-fonts-style display-5">Заполните свой профиль</h4>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <hr>
                        </div>
                        <div data-for="name" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label for="name-formbuilder-76" class="form-control-label mbr-fonts-style display-7">Имя
                                Фамилия</label>
                            <input type="text" name="name" placeholder="Введите ваше имя и фамилию"
                                   data-form-field="name" class="form-control display-7" required="required"
                                   value="{{ item.name }}" id="name-formbuilder-76">
                        </div>
                        <div data-for="birthday" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label for="birthday-formbuilder-76" class="form-control-label mbr-fonts-style display-7">Дата
                                рождения</label>
                            <input type="date" name="birthday" data-form-field="birthday" class="form-control display-7"
                                   value="{{ item.birthday|date:"Y-m-d" }}" id="birthday-formbuilder-76">
                        </div>
                        <div data-for="image" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label for="image-formbuilder-76" class="form-control-label mbr-fonts-style display-7">Ваше
                                фото {{ item.image.name }}</label>
                            <input type="file" accept="image/*" name="image" data-form-field="image"
                                   class="form-control display-7" value="" id="image-formbuilder-76">
                        </div>
                        <div data-for="function" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label for="function-formbuilder-76" class="form-control-label mbr-fonts-style display-7">Основная
                                деятельность</label>
                            <input type="text" name="function" placeholder="Чем занимаетесь в церкви или профессия"
                                   data-form-field="function" class="form-control display-7" value="{{ item.function }}"
                                   id="function-formbuilder-76">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="about">
                            <label for="about-formbuilder-76" class="form-control-label mbr-fonts-style display-7">О
                                себе</label>
                            <textarea name="about" placeholder="Расскажите немного о себе" data-form-field="about"
                                      class="form-control display-7" id="about-formbuilder-76">{{ item.about }}</textarea>
                        </div>
                        <div data-for="phone" class="col-lg-9 col-md-9 col-sm-12 form-group">
                            <label for="phone-formbuilder-76" class="form-control-label mbr-fonts-style display-7">Телефон</label>
                            <input type="tel" name="phone" placeholder="Номер телефона"
                                   pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{4}" data-form-field="phone"
                                   class="form-control display-7" value="{% firstof item.phone "+7-" %}" id="phone-formbuilder-76">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 form-group">
                            <div class="form-control-label">
                                <label for="phone_visible" class="mbr-fonts-style display-7">Виден всем</label>
                            </div>
                            <div data-for="" class="form-check">
                                <input type="checkbox" value="On" name="phone_visible" data-form-field="checkbox"
                                       class="form-check-input display-7"{% if item.phone_visible %} checked{% endif %}>
                                <label for="-formbuilder-76" class="form-check-label display-7">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <h5 class="mbr-fonts-style display-5">Социальный блок</h5>
                        </div>
                        <div data-for="social_email" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="social_email-formbuilder-76"
                                   class="form-control-label mbr-fonts-style display-7">Email</label>
                            <input type="email" name="social_email" data-form-field="social_email"
                                   class="form-control display-7" value="{{ item.social_email }}" id="social_email-formbuilder-76">
                        </div>
                        <div data-for="social_page" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="social_page-formbuilder-76"
                                   class="form-control-label mbr-fonts-style display-7">Сайт</label>
                            <input type="text" name="social_page" data-form-field="social_page"
                                   class="form-control display-7" value="{{ item.social_page }}" id="social_page-formbuilder-76">
                        </div>
                        <div data-for="social_vk" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="social_vk-formbuilder-76" class="form-control-label mbr-fonts-style display-7">Страница
                                Вконтакте</label>
                            <input type="text" name="social_vk" data-form-field="social_vk"
                                   class="form-control display-7" value="{{ item.social_vk }}" id="social_vk-formbuilder-76">
                        </div>
                        <div data-for="social_fb" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="social_fb-formbuilder-76" class="form-control-label mbr-fonts-style display-7">Facebook</label>
                            <input type="text" name="social_fb" data-form-field="social_fb"
                                   class="form-control display-7" value="{{ item.social_fb }}" id="social_fb-formbuilder-76">
                        </div>
                        <div data-for="social_ok" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="social_ok-formbuilder-76" class="form-control-label mbr-fonts-style display-7">Одноклассники</label>
                            <input type="text" name="social_ok" data-form-field="social_ok"
                                   class="form-control display-7" value="{{ item.social_ok }}" id="social_ok-formbuilder-76">
                        </div>
                        <div data-for="social_insta" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="social_insta-formbuilder-76"
                                   class="form-control-label mbr-fonts-style display-7">Instagram</label>
                            <input type="text" name="social_insta" data-form-field="social_insta"
                                   class="form-control display-7" value="{{ item.social_insta }}" id="social_insta-formbuilder-76">
                        </div>
                        <div data-for="social_youtube" class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label for="social_youtube-formbuilder-76"
                                   class="form-control-label mbr-fonts-style display-7">YouTube</label>
                            <input type="text" name="social_youtube" data-form-field="social_youtube"
                                   class="form-control display-7" value="{{ item.social_youtube }}" id="social_youtube-formbuilder-76">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-secondary display-7">Подтвердить</button>
                        </div>
                    </div>
                    <span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-formbuilder-76" required="">Подтверждаю своё согласие c <a
        style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
            </div>
        </div>
    </div>
</section>