<section class="mbr-section content5 cid-rWcOAIXKdt" id="content5-6c">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-2">
                    {{ article.title }}</h3>
            </div>
        </div>
    </div>
</section>
{% if article.image %}
    <section class="cid-rWERbyIHpu" id="image3-6g">
        <figure class="mbr-figure container">
            <div class="image-block">
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="" title="">
                {% else %}
                <img src="{{ article.cover.url }}" alt="" title="">
                {% endif %}
            </div>
        </figure>
    </section>
{% endif %}
<section class="mbr-section article content1 cid-rWcOAJGDus" id="content1-6d">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-12">
                {{ article.text|safe|linebreaks }}
            </div>
        </div>
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-12">
                {{ article.html|safe }}
            </div>
        </div>
    </div>
</section>
{% if article.author %}
    <section class="mbr-section article extСontent cid-rWe5Ro6y1U" id="extContent3-6e">
        <div class="container">
            <div class="media-container-row">
                <div class="mbr-text col-12 col-md-8 display-4">
                    <div class="flex-block">
                        <span class="mbr-iconfont mbri-quote-right"></span>
                        <p class="mbr-fonts-style block-quote display-4">{{ article.author|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}