<section class="extFooter cid-rTiw1Jutr9 mbr-reveal" once="footers" id="extFooter1-3q">
    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-4 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="index.html">
                        <img src="/assets/images/logo-1-192x335.png" alt="" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">{{ main.title }}</p>
                <div class="media-container-row soc-container-row">
                    {% if main.profile.social_insta %}
                    <a href="{{ main.profile.social_insta }}" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                    </a>
                    {% endif %}
                    {% if main.profile.social_fb %}
                    <a href="{{ main.profile.social_fb }}" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                    </a>
                    {% endif %}
                    {% if main.profile.social_vk %}
                    <a href="{{ main.profile.social_vk }}" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
                    </a>
                    {% endif %}
                    {% if main.profile.social_ok %}
                    <a href="{{ main.profile.social_ok }}" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span>
                    </a>
                    {% endif %}
                    {% if main.profile.social_youtube %}
                    <a href="{{ main.profile.social_youtube }}" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                    </a>
                    {% endif %}
                    {% if main.profile.telegram %}
                    <a href="{{ main.profile.telegram }}" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-telegram socicon"></span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-5">
                    Разделы сайта</p>
                <p class="mbr-text mbr-fonts-style section-link display-7">
                    <a href="/">Главная</a><br>
                    <a href="/history">О церкви</a><br>
                    <a href="/about">О вере</a><br>
                    <a href="/heal">Исцеление</a><br>
                    <a href="/social">Социальная помощь</a><br>
                    <a href="/psycholog">Семейная консультация</a><br>
                    <a href="/finance">Финансовая помощь</a><br>
                    <a href="/feedback">Отзывы</a><br>
                    <a href="/news">Новости</a><br>
                    <a href="/books">Книги</a><br>
                    <a href="/command">Команда</a><br>
                    <a href="/contact">Контакты</a><br>
                    <a href="/donate">Пожертвовать</a>
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Обратная связь</p>
                <div class="form-block">
                    <div data-form-type="formoid">
                        <!--Formbuilder Form-->
                        <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler"
                              data-form-title="Footer Form"><input type="hidden" name="email" data-form-email="true"
                                                                   value="k03DsGHr5MqJ40/dJkOcYBbHVEiDDCUgcW+3ut9KKYIdSK+CiwV4X0nTOSUZUmLJS2MVR7zi3XZgjm/cZBnO45iJFDM+V6dAFN1cZJRyMHxcZLSk0/tmf6eMQykLphez.Ba8xLjC6MVFQfJ8ck1O5m0yxVw11xJTsQKiNdfRl7/DFHpOthfOha/YhgyGfzZroHqpXhFsGZdiRqexM/TQqb7+dibYeTRUoqqKo73A27elHFhQ+KTY5KSmPu+Xwjlqk">
                            <div class="form-row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за сообщение!</div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                </div>
                            </div>
                            <div class="dragArea form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Ваше имя">
                                    <input type="text" name="Ваше имя" placeholder="Ваше имя" data-form-field="Ваше имя"
                                           class="form-control display-7" value="" id="Ваше имя-extFooter1-3q">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Email">
                                    <input type="text" name="Email" placeholder="Email" data-form-field="Email"
                                           class="form-control display-7" value="" id="Email-extFooter1-3q">
                                </div>
                                <div class="col-md-12 form-group" data-for="message">
                                    <textarea name="message" placeholder="Сообщение или вопрос"
                                              data-form-field="Message" required="required"
                                              class="form-control input display-7"
                                              id="message-extFooter1-3q"></textarea>
                                </div>
                                <div class="col-md-12 align-center input-group-btn mt-2">
                                    <button type="submit" class="btn btn-bgr btn-form btn-secondary display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button>
                                </div>
                            </div>
                            <span class="gdpr-block">
                                <label>
                                    <span class="textGDPR" style="color: #a7a7a7">
                                        <input type="checkbox" name="gdpr" id="gdpr-extFooter1-3q" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a>
                                    </span>
                                </label>
                            </span>
                        </form><!--Formbuilder Form-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-12 copyright">
                    <p class="mb-3 mbr-fonts-style foot-title display-4">{{ main.requisite | linebreaks }}</p>
                    <p class="mbr-text mbr-fonts-style display-7">© info@electis.ru</p>
                </div>
            </div>
        </div>
    </div>
</section>
