<script src="/assets/web/assets/jquery/jquery.min.js"></script>
<script src="/assets/popper/popper.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/tether/tether.min.js"></script>
<script src="/assets/smoothscroll/smooth-scroll.js"></script>
<script src="/assets/parallax/jarallax.min.js"></script>
<script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
<script src="/assets/mbr-tabs/mbr-tabs.js"></script>
<script src="/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
<script src="/assets/sociallikes/social-likes.js"></script>
<script src="/assets/dropdown/js/nav-dropdown.js"></script>
<script src="/assets/dropdown/js/navbar-dropdown.js"></script>
<script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
{#<script src="/assets/formstyler/jquery.formstyler.js"></script>#}
{#<script src="/assets/formstyler/jquery.formstyler.min.js"></script>#}
{#<script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>#}
<script src="/assets/popup-plugin/script.js"></script>
<script src="/assets/popup-ontimer-plugin/script.js"></script>
<script src="/assets/popup-overlay-plugin/script.js"></script>
<script src="/assets/mbr-clients-slider/mbr-clients-slider.js"></script>
<script src="/assets/theme/js/script.js"></script>
<script src="/assets/formoid.min.js"></script>

<div id="scrollToTop" class="scrollToTop mbr-arrow-up" style="left: 20px;bottom: 20px;width: 50px"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
<input name="animation" type="hidden">
<!-- Chatra {literal} -->
<script>
    (function(d, w, c) {
        w.ChatraID = 'DSpuMYQvJB58sXotz';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->
{{ footer_extend|safe }}
</body>
</html>