<div class="col form-group" data-for="name">
<input type="text" name="name" placeholder="Ваше имя" data-form-field="Name" required="required" class="form-control display-7" value="" id="name-mbr-popup-4n">
</div>
<div class="col form-group " data-for="contact">
<input type="text" name="contact" placeholder="Контактные данные" data-form-field="text" required="required" class="form-control display-7" value="" id="email-mbr-popup-4n">
</div>
<div class="col input-group-btn">
<button type="submit" class="btn btn-secondary display-4">Подтвердить</button>
</div>
<span class="gdpr-block"><label><span class="textGDPR" style="color: #a7a7a7">
<input type="checkbox" name="gdpr" id="gdpr-mbr-popup-4n" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a>
</span></label></span>