{% load thumbnail %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="/assets/images/favicon-128x128.png" type="image/x-icon">
    <meta name="description" content="Добро пожаловать в христианскую церковь города Барнаула!">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/tether/tether.min.css">
    <link rel="stylesheet" href="/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="/assets/web//assets/gdpr-plugin/gdpr-styles.css">
    <link rel="stylesheet" href="/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.css">
    <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.theme.css">
    <link rel="stylesheet" href="/assets/datepicker/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/recaptcha.css">
    <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">

    <script src="/assets/web//assets/lazyload/lazyload.js"></script>
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
    <script src="/sw-connect.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/assets/images/apple-launch-640x1136.png">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/assets/images/apple-launch-750x1334.png">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/assets/images/apple-launch-1242x2208.png">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/assets/images/apple-launch-1125x2436.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/assets/images/apple-launch-1536x2048.png">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/assets/images/apple-launch-1668x2224.png">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/assets/images/apple-launch-2048x2732.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {{ head_extend|safe }}
</head>
<body>
<!-- Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61624567, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61624567" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Analytics -->

<section class="extMenu10 menu cid-rRBaMrUBpq" once="menu" id="extMenu11-g">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="/assets/images/logo2x-160x279.png" alt="" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Христианская церковь</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                {% if names_domains|length >= 2 %}
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">{{ main.site.name }}</a>
                    <div class="dropdown-menu">
                    {% for name, domain in names_domains %}
                        <a class="dropdown-item text-primary display-7" href="http://{{ domain }}">{{ name }}</a>
                    {% endfor %}
                    </div>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">О нас</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-primary display-7" href="/about">О церкви</a>
                        <a class="dropdown-item text-primary display-7" href="/feedback" aria-expanded="false">Отзывы</a>
                        <a class="dropdown-item text-primary display-7" href="/command" aria-expanded="false">Команда</a>
                        <a class="dropdown-item text-primary display-7" href="/contact" aria-expanded="false">Контакты</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/news-0">Новости</a></li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/donate">Пожертвовать</a></li>
            </ul>
            <div class="navbar-buttons mbr-section-btn">
                {% if not request.user.is_authenticated %}
                    <a class="display-4 btn btn-secondary p-0 px-2" href="/account">
                        Аккаунт&nbsp;<img height="40px" src="/account.png">
                    </a>
                {% else %}
                    <a class="display-4 btn btn-secondary p-0 px-2" href="/profile">
                        {{ request.user.profile.name }}&nbsp;
                        {% if request.user.profile.image %}
                            {% thumbnail request.user.profile.image "40x40" crop="center" as im %}
                            <img style="border-radius: 50%;" src="{{ im.url }}">
                            {% endthumbnail %}
                        {% else %}
                            <img style="border-radius: 50%;" height="40px" src="/account.png">
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
</section>
