{% load thumbnail %}
{% for item in news %}
    <div class="carousel-item ">
        <div class="media-container-row">
            <div class="col-md-12">
                <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">{{ item.date }}</p>
                <a href="/news/{{ item.section.pk }}">
                    <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">{{ item.section.title }}</p>
                </a>
                <div class="wrap-img ">
                    <a href="/article-{{ item.pk }}">
                        {% thumbnail item.cover "350x200" crop="top" as im %}
                        <img src="{{ im.url }}" class="img-responsive clients-img" alt="" title="">
                        {% endthumbnail %}
                    </a>
                </div>
                <h4 class="card-title mbr-fonts-style mbr-normal display-5">
                    <a href="/article-{{ item.pk }}" class="text-secondary">{{ item.title }}</a>
                </h4>
            </div>
        </div>
    </div>
{% endfor %}