{% load thumbnail %}
<section class="extFeatures cid-rWKUt54ncm" id="extFeatures3-70">
    <div class="container-fluid">
        <div class="row justify-content-center content-row">
            {% for item in newssection_all %}
            <div onclick="window.location.href='/news-{{ item.pk }}'" class="card p-3 col-md-6 col-lg-4 col-xl-2"
                 onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'">
                <div class="card-img pb-2">
                    <div class="step{% if item.pk != newssection.pk %} section_active{% endif %}">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 {{ item.icon }}" style="font-size: 50px; color: #000000;"></span>
                    </div>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7{% if item.pk == newssection.pk %} mbr-bold{% endif %}">
                        {{ item.title }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="extFeatures cid-rWKLYBGipj" id="extFeatures34-6v">
    <div class="container">
        <h2 class="mbr-section-title pb-1 mbr-normal mbr-fonts-style display-1">{{ newssection.title }}</h2>
        <form method="GET" class="mbr-form form-with-styler">
            <div class="dragArea form-row">
                <div data-for="find" class="col-lg-10 col-md-10 col-sm-10 col-10 form-group">
                    <input style="background-color: #f7fffd" type="text" name="filter" placeholder="Поиск" class="form-control input-sm" value="{{ filter }}" id="filter">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary-outline"><span class="display-7 mobi-mbri-search mbr-iconfont"></span></button>
                </div>
            </div>
        </form>

        <div class="row row-content justify-content-center">
            {% for item in news %}
            <div class="card p-3 col-lg-12 col-md-12">
                <div class="card-wrapper"
                     onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'"
                     onclick="window.location.href='/article-{{ item.pk }}'">
                    <div class="card-img">
                        {% thumbnail item.cover "320" as im %}
                        <img src="{{ im.url }}" title="" alt="" style="height: auto">
                        {% endthumbnail %}
                        <div class="card-box">
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal align-left display-5">{{ item.title }}</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-calendar"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">{{ item.date|date:"d E Y" }}{% if newssection is None %} - {{ item.section }}{% endif %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7">{{ item.text|safe|truncatewords_html:30 }}</p>
                        </div>
                        <div class="mbr-section-btn">
                            <a href="/article-{{ item.pk }}" class="btn btn-sm btn-secondary-outline display-4">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
         <span class="step-links">
          {% if news.has_previous %}
              <a class="btn btn-sm btn-secondary-outline display-4 mbr-iconfont mbri-left" href="?page={{ news.previous_page_number }}{% if filter %}&filter={{ filter }}{% endif %}"></a>
          {% endif %}
            <span class="current">Страница {{ news.number }} из {{ news.paginator.num_pages }}</span>
          {% if news.has_next %}
              <a class="btn btn-sm btn-secondary-outline display-4 mbr-iconfont mbri-right" href="?page={{ news.next_page_number }}{% if filter %}&filter={{ filter }}{% endif %}"></a>
          {% endif %}
          </span>
        </div>
    </div>
</section>
