{% load thumbnail %}
<section class="extFeatures cid-rWKUt54ncm" id="extFeatures3-70">
    <div class="container-fluid">
        <div class="row justify-content-center content-row">
            {% for item in newssection_all %}
            <div onclick="window.location.href='/news-{{ item.pk }}'" class="card p-3 col-md-6 col-lg-4 col-xl-2"
                 onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'">
                <div class="card-img pb-2">
                    <div class="step">
                    {% if item.pk == newssection.pk %}
                        <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 {{ item.icon }}"
                              style="font-size: 50px; color: #8000ff; font-weight: bold"></span>
                    {% else %}
                        <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 {{ item.icon }}" style="font-size: 50px;"></span>
                    {% endif %}
                    </div>
                </div>
                <div class="card-box">
                {% if item.pk == newssection.pk %}
                    <p class="mbr-text mbr-fonts-style display-7" style="color: #8000ff">{{ item.title }}</p>
                {% else %}
                    <p class="mbr-text mbr-fonts-style display-7">{{ item.title }}</p>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="extFeatures cid-rWKLYBGipj" id="extFeatures34-6v">
    <div class="container">
        <h2 class="mbr-section-title pb-1 mbr-normal mbr-fonts-style display-1">{{ newssection.title }}</h2>
        <div class="row row-content justify-content-center">
            {% for item in newssection.news_set.all %}
            <div class="card p-3 col-lg-12 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img">
                        {% thumbnail item.cover "320" as im %}
                        <img src="{{ im.url }}" title="" alt="" style="height: auto">
                        {% endthumbnail %}
                        <div class="card-box">
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal align-left display-5">{{ item.title }}</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-calendar"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">{{ item.date|date:"d E Y" }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7">{{ item.text|safe|truncatewords_html:30 }}</p>
                        </div>
                        <div class="mbr-section-btn">
                            <a href="/article-{{ item.pk }}" class="btn btn-sm btn-secondary-outline display-4">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>