{% for item in news %}
    <div class="carousel-item ">
        <div class="media-container-row">
            <div class="col-md-12">
                <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">{{ item.date|date:"d E Y" }}</p>
                <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">{{ item.section }}</p>
                <div class="wrap-img ">
                    <a href="/article/{{ item.pk }}" target="_blank">
                        <img src="{{ item.cover.url }}" class="img-responsive clients-img" alt="" title="">
                    </a>
                </div>
                <h4 class="card-title mbr-fonts-style mbr-normal display-5">
                    <a href="/article/{{ item.pk }}" target="_blank" class="text-secondary">{{ item.title }}</a>
                </h4>
            </div>
        </div>
    </div>
{% endfor %}