<section class="extSocialButtons cid-rRYrIN6DCR" id="extSocialButtons1-q">
    <div class="container">
        <div>
            <h2 class="mbr-title pt-2 mbr-fonts-style mb-3 display-5">Оставайтесь с нами в социальных сетях</h2>
        </div>
        <div class="media-container-row">
{#            {% if main.profile.social_insta %}#}
{#            <a href="{{ main.profile.social_insta }}" target="_blank">#}
{#                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(237, 66, 102); fill: rgb(237, 66, 102);"></span>#}
{#                <p class="mbr-fonts-style display-7">Instagram</p>#}
{#            </a>#}
{#            {% endif %}#}
{#            {% if main.profile.social_fb %}#}
{#            <a href="{{ main.profile.social_fb }}" target="_blank">#}
{#                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>#}
{#                <p class="mbr-fonts-style display-7">Facebook</p>#}
{#            </a>#}
{#            {% endif %}#}
            {% if main.profile.social_vk %}
            <a href="{{ main.profile.social_vk }}" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon" style="color: rgb(15, 118, 153); fill: rgb(15, 118, 153);"></span>
                <p class="mbr-fonts-style display-7">VK</p>
            </a>
            {% endif %}
            {% if main.profile.social_ok %}
            <a href="{{ main.profile.social_ok }}" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon" style="color: rgb(255, 99, 0); fill: rgb(255, 99, 0);"></span>
                <p class="mbr-fonts-style display-7">OK</p>
            </a>
            {% endif %}
            {% if main.profile.social_youtube %}
            <a href="{{ main.profile.social_youtube }}" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(255, 0, 54); fill: rgb(255, 0, 54);"></span>
                <p class="mbr-fonts-style display-7">Youtube</p>
            </a>
            {% endif %}
            {% if main.profile.telegram %}
            <a href="{{ main.profile.telegram }}" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-telegram socicon" style="color: rgb(0,136,204); fill: rgb(0,136,204);"></span>
                <p class="mbr-fonts-style display-7">Telegram</p>
            </a>
            {% endif %}
        </div>
    </div>
</section>
