<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2x-160x279.png" type="image/x-icon">
  <meta name="description" content="Добро пожаловать в христианскую церковь города Барнаула!">
  
  
  <title>Статья2</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="assets/web/assets/lazyload/lazyload.js"></script>

  

</head>
<body>

<!-- Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61624567, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61624567" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Analytics -->


  <section class="extMenu10 menu cid-rWe79mKPvQ" once="menu" id="extMenu11-61">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo2x-160x279.png" alt="" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Христианская церковь&nbsp;<br>Барнаула</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="/about">О церкви</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">
                        Предлагаем помощь</a>
                    <div class="dropdown-menu"><a class="dropdown-item text-primary display-7" href="/heal">Исцеление болезней</a><a class="dropdown-item text-primary display-7" href="/social" aria-expanded="false">Социальная
помощь</a><a class="dropdown-item text-primary display-7" href="/psycholog" aria-expanded="false">Семейный психолог</a><a class="dropdown-item text-primary display-7" href="/finance" aria-expanded="false">Финансовая помощь</a></div>
                </li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/feedback">
                        Отзывы</a></li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/contact">
                        Контакты</a></li>
                            <li class="nav-item"><a class="nav-link link text-primary display-7" href="/donate">
                        Пожертвовать</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="https://wa.me/+79609594332">

                    Присоединиться</a></div>
        </div>
    </nav>
</section>

<section class="mbr-section content5 cid-rWe79ofYCH" id="content5-62">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-2">Возлюби ближнего своего: оставайся дома!</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rWe79p5uvX" id="content1-63">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-12">
                <p>На фоне катастрофических событий Евангелие приобретает небывалые возможности.
</p><p>Когда Бог поколебал основы, сотворенные человечеством, многие люди впервые задумались о Нем. Коронавирус предоставляет нам замечательную возможность указать людям на Христа, когда мы воплощаем в жизнь Божье обетование о том, что Его доброе дело на земле будет продолжаться:
</p><p><span style="font-size: 1.2rem;">«И проповедано будет сие Евангелие Царствия по всей вселенной, во свидетельство всем народам; и тогда придет конец» (Матфея 24:14).&nbsp;</span></p><p>Чтобы эффективно воспользоваться этой возможностью, мы, прежде всего, должны быть практичными. Это не время для беззаботности или показной смелости, но и не время для паники. Настало время прислушаться к мудрому совету.
</p><p>Мы все подвластны предвзятости. Некоторые из нас тяготеют к худшим сценариям и пророчествам о судном дне. Другие склонны отметать предостережения как истерию, или как  тайный политический заговор из гудящих СМИ. Разумно иметь свою позицию, но нужно избегать крайностей и быть избирательным в том, чего стоит придерживаться.
</p><p>Итак, как же быть мудрым в эти времена?
</p><p>Мы должны избегать онлайн-экстремистов, особенно тех, которые подогревают нашу предвзятость. Социальные сети, конечно, тоже нам не помощники. Удивительно, не так ли, что в эпоху небывалого доступа к информации, во время кризиса, социальные сети особенно массово распространяют дезинформацию и провоцируют истерию.
</p><p>В эти дни нам, как христианам, разумно будет полагаться на официальные источники информации. Для этого Бог поставил над нами государственный правящий аппарат. Следуя его руководству, мы чтим Бога и делаем добро ближним.
</p><p>Это, безусловно, странно, когда наибольшую любовь мы можем проявить к нашим соседям, к нашим друзьям и к нашим сообществам в том, чтобы видеть их реже. Однако во время вспышки вируса это одно из основных проявлений добрососедской любви. Как сказал Энди Крауч, не страх, а любовь должны побуждать нас практиковать социальное дистанцирование.
</p><p>Ограничения, которые мы все в настоящее время ощущаем на себе, неудобны, но если мы любим своих ближних, мы воспримем их всерьез. Вы можете и не быть в категории риска. Вы можете чувствовать себя молодым, здоровым и неуязвимым. Тем не менее, любовь требует, чтобы мы думали о других больше, чем о себе. Мы принимаем меры предосторожности против коронавируса не только потому, что мы обеспокоены тем, чем он может быть опасен для нас, но и потому, что нам не все равно, что он может навредить нашим, более уязвимым соседям.
</p><p>Я с нетерпением жду того времени, когда мы, как сообщество верующих, сможем оглянуться на эти дни как на прошлое, и дать надежду тем, кого они изменили. А сейчас мы принимаем меры предосторожности ради тех, кто в опасности. Мы используем каждую возможность служить другим, сохраняя при этом безопасную дистанцию. Мы проявляем творческий подход к тому, как распространять Евангелие до концов земли, при этом оставаясь на месте.
</p><p>В эти исключительные времена многие из нас проявят свою любовь, оставаясь дома.
</p></div>
        </div>
    </div>
</section>

<section class="mbr-section article extСontent cid-rWe79pWkw1" id="extContent3-64">

     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 display-4">
                <div class="flex-block">
                    <span class="mbr-iconfont mbri-quote-right"></span>
                    <p class="mbr-fonts-style block-quote display-4">Автор — Дж. Д. Гриар / jdgreear.com<br> Перевод — Виктория Литвинова для <a href="http://ieshua.org" class="text-black">ieshua.org</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFooter cid-rWe79qxKmq mbr-reveal" once="footers" id="extFooter1-65">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-4 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="index.html">
                        <img src="assets/images/logo-1-192x335.png" alt="" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Христианская Церковь Барнаула</p>
              
                
        <div class="media-container-row soc-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
            </a>
        </div>
             
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-5">
                    Разделы сайта</p>
                <p class="mbr-text mbr-fonts-style section-link display-7">
                    <a href="/">Главная</a><br>
                    <a href="/about">О церкви</a><br>
                    <a href="/heal">Исцеление</a><br>
                    <a href="/social">Социальная помощь</a><br>
                    <a href="/psycholog">Семейный психолог</a><br>
                    <a href="/finance">Финансовая помощь</a><br>
                    <a href="/feedback">Отзывы</a><br>
                    <a href="/command">Команда</a><br>
                    <a href="/contact">Контакты</a><br>
                    <a href="/donate">Пожертвовать</a>
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Обратная связь</p>
                <div class="form-block">
                    <div data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Footer Form"><input type="hidden" name="email" data-form-email="true" value="lOs1xG8j5rbEkORNJo7Dm6M7JHAJ0gd+nr8RhmgpIuV101x3LOtcbgdENdxTodxtoiCWIV4y1rXkgPUMGIHn+QQIh5/bfW4Z9gO8gogZd1hpLdCthbG8MYGkMTRNYhW2.irZECWE7ewbUHSb+qeT011a9cnBApEVgrc4fnnfiHPnQ6BoxVTveh6ArCV2jQqoRreeJo3LiQflmoUzBRblBLP/gh7YERZKo9BQqiwi4J7vDcr28dXHMFDHBvyZ5VxXK">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за сообщение!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Ваше имя">
<input type="text" name="Ваше имя" placeholder="Ваше имя" data-form-field="Ваше имя" class="form-control display-7" value="" id="Ваше имя-extFooter1-65">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Email">
<input type="text" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="Email-extFooter1-65">
</div>
<div class="col-md-12 form-group" data-for="message">
<textarea name="message" placeholder="Сообщение или вопрос" data-form-field="Message" required="required" class="form-control input display-7" id="message-extFooter1-65"></textarea>
</div>
<div class="col-md-12 align-center input-group-btn mt-2"><button type="submit" class="btn btn-bgr btn-form btn-secondary display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button></div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-extFooter1-65" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
              
                <div class="col-sm-12 copyright">
                                   <p class="mb-3 mbr-fonts-style foot-title display-4">Местная религиозная организация Церковь Христиан Веры Евангельской (пятидесятников) «Новое Поколение» г. Барнаул, Алтайский край<br>Запись о некоммерческой организации внесена в Единый государственный реестр юр. лиц «14» апреля 2011г. за основным государственным регистрационным номером: 1112202000800 дата выдачи «11» августа 2016 г.
ИНН/КПП: 2223995025/222501001</p>
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 info@electis.ru - все права защищены
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>