<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2x-160x279.png" type="image/x-icon">
  <meta name="description" content="Добро пожаловать в христианскую церковь города Барнаула!">
  
  
  <title>Статья1</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="assets/web/assets/lazyload/lazyload.js"></script>

  

</head>
<body>

<!-- Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61624567, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61624567" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Analytics -->


  <section class="extMenu10 menu cid-rWcOAHUsQa" once="menu" id="extMenu11-5t">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo2x-160x279.png" alt="" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Христианская церковь&nbsp;<br>Барнаула</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="/about">О церкви</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">
                        Предлагаем помощь</a>
                    <div class="dropdown-menu"><a class="dropdown-item text-primary display-7" href="/heal">Исцеление болезней</a><a class="dropdown-item text-primary display-7" href="/social" aria-expanded="false">Социальная
помощь</a><a class="dropdown-item text-primary display-7" href="/psycholog" aria-expanded="false">Семейный психолог</a><a class="dropdown-item text-primary display-7" href="/finance" aria-expanded="false">Финансовая помощь</a></div>
                </li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/feedback">
                        Отзывы</a></li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/contact">
                        Контакты</a></li>
                            <li class="nav-item"><a class="nav-link link text-primary display-7" href="/donate">
                        Пожертвовать</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="https://wa.me/+79609594332">

                    Присоединиться</a></div>
        </div>
    </nav>
</section>

<section class="mbr-section content5 cid-rWcOAIXKdt" id="content5-5u">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-2">Коронавирус и Христос</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rWcOAJGDus" id="content1-5v">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-12">
                <p><strong>Видишь благость и строгость Божию</strong></p>
                <p><span style="font-size: 1.2rem;"></span></p><p>Не так уж важно, что думаем о коронавирусе мы. Но мнение о нём Бога имеет вечное значение. И Своего мнения Он не утаивает. Едва ли хоть одна страница в Библии не имеет отношения к этому кризису.
</p><p>
</p><p>Наше мнение – это трава, Его же – гранит. «Засохла трава, и цвет ее опал; но слово Господне пребывает вовек» (1 Пет. 1:24-25). Его слово, записанное в Писании, «не может нарушиться» (Ин. 10:35). Его слова – «истина, все праведны» (Пс. 18:10). Те, кто слушают Бога и верят Ему, подобны строящим свой дом на скале, а не на песке (Мф. 7:24).
</p><p>
</p><p>Его мнение не только истинно, оно также обладает абсолютной мудростью для любой ситуации. «Дивны судьбы Его, велика премудрость Его» (Ис. 28:29). «Разум Его неизмерим» (Пс. 146:5). Если Он даёт совет относительно коронавируса, то этот совет твёрд, незыблем, вечен. «Совет же Господень стоит вовек» (Пс. 32:11). «Непорочен путь Его» (2 Цар. 22:31).
</p><p>
</p><p>Однако Божии слова в эти дни не только истинны и мудры,- они также драгоценны и сладостны. «Они вожделеннее золота и даже множества золота чистого, слаще мёда и капель сота» (Пс. 18:11). В них – сладость жизни: «Господи! к кому нам идти? Ты имеешь глаголы вечной жизни» (Ин. 6:68). А с нерушимой жизнью приходят и слова непоколебимого мира и радости: «и было слово Твоё мне в радость и в веселие сердца моего» (Иер. 15:16).
</p><p>
</p><p>Эта сладость не утрачивается и в настоящие моменты горького провидения, если только мы открыли секрет того, что значит быть «как будто печальными, но всегда радующимися» (2 Кор. 6:10 – Пер. Еп. Кассиана). А секрет состоит в том, что Тот суверенный Владыка, Который может остановить коронавирус, но не делает этого, — это Тот же суверенный Владыка, Который подкрепляет душу посреди пандемии. Поистине, не только подкрепляет, но и услаждает надеждой на то, что для доверяющих Ему Его намерения благи даже и в смерти.
</p><p>
</p><p>«Видишь благость и строгость Божию» (Рим. 11:22). Его провидение сладостно и горько. Ноеминь не согрешила, сказав: «Вседержитель послал мне великую горесть» (Руфь 1:20). Это была правда. Но она была произнесена в тот самый момент, когда приближалась перемена всей её судьбы.
</p><p>
</p><p><span style="font-size: 1.2rem;">Сейчас не время для сентиментальных взглядов на Бога. Сейчас горькое время, и оно послано Богом. Мы знаем об этом потому, что Он совершает «всё по изволению воли Своей» (Еф. 1:11). Именно всё. Даже воробей не упадёт на землю без воли нашего небесного Отца (Мф. 10:29).</span><br></p><p>
</p><p>Природа не обладает абсолютной властью. Ею не обладает дьявол. Не обладает ею и грешный человек. Всеми ими управляет Бог (Лк. 8:25; Иов. 1:12, 2:6; Деян. 4:27-28). Так что, мы говорим вместе с Иовом: «знаю, что Ты всё можешь, и что намерение Твоё не может быть остановлено» (Иов. 42:2).
</p><p>
</p><p>Следовательно, Бог не просто понимает эпидемию коронавируса – у Него есть Свои цели, связанные с ней. Всё, что Бог делает, и всё, что допускает, имеет премудрую цель. Ничего не происходит просто так. Истоком всего является Божие предвечное изволение (Еф. 1:11). В нём всё – мудрость, всё исполнено значения. Для доверяющих Иисусу Христу всё в нём является благом. Для прочих же это – милосердный призыв пробудиться: «жаждущий пусть приходит, и желающий пусть берёт воду жизни даром» (Откр. 22:17).</p></div>
        </div>
    </div>
</section>

<section class="mbr-section article extСontent cid-rWe5Ro6y1U" id="extContent3-60">

     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 display-4">
                <div class="flex-block">
                    <span class="mbr-iconfont mbri-quote-right"></span>
                    <p class="mbr-fonts-style block-quote display-4">Автор — Джон Пайпер / © 2020 Desiring God Foundation.<br> Перевод — Ольга Крикун для <a href="http://ieshua.org" class="text-black">ieshua.org</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFooter cid-rWcOAKKg51 mbr-reveal" once="footers" id="extFooter1-5w">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-4 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="index.html">
                        <img src="assets/images/logo-1-192x335.png" alt="" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Христианская Церковь Барнаула</p>
              
                
        <div class="media-container-row soc-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
            </a>
        </div>
             
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-5">
                    Разделы сайта</p>
                <p class="mbr-text mbr-fonts-style section-link display-7">
                    <a href="/">Главная</a><br>
                    <a href="/about">О церкви</a><br>
                    <a href="/heal">Исцеление</a><br>
                    <a href="/social">Социальная помощь</a><br>
                    <a href="/psycholog">Семейный психолог</a><br>
                    <a href="/finance">Финансовая помощь</a><br>
                    <a href="/feedback">Отзывы</a><br>
                    <a href="/command">Команда</a><br>
                    <a href="/contact">Контакты</a><br>
                    <a href="/donate">Пожертвовать</a>
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Обратная связь</p>
                <div class="form-block">
                    <div data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Footer Form"><input type="hidden" name="email" data-form-email="true" value="tXLtqXGvwEipC5WuRoHKLnRGa+ArOo17K0EA+9TwGS+J0TNZaiBN7MmrA6rsoo/iSD7pxfSU/sAkx5pyIz6ExBhacxMxqxGzCRiLxTlg3nxQkXyT1YbiHQioyKlqC9V/.SXt+hTnL/6sT0qV5Y/vVBhqN6zuaoI0Fo6eJFwntK+MfiaLQLNyUNxqAB14RnyddZP4YseJX4hQGfW4uVPuX4sNzWzeKCRNPCCuGjKtt4AYr742NCYJpqQvZotVr+gvd">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за сообщение!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Ваше имя">
<input type="text" name="Ваше имя" placeholder="Ваше имя" data-form-field="Ваше имя" class="form-control display-7" value="" id="Ваше имя-extFooter1-5w">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Email">
<input type="text" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="Email-extFooter1-5w">
</div>
<div class="col-md-12 form-group" data-for="message">
<textarea name="message" placeholder="Сообщение или вопрос" data-form-field="Message" required="required" class="form-control input display-7" id="message-extFooter1-5w"></textarea>
</div>
<div class="col-md-12 align-center input-group-btn mt-2"><button type="submit" class="btn btn-bgr btn-form btn-secondary display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button></div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-extFooter1-5w" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
              
                <div class="col-sm-12 copyright">
                                   <p class="mb-3 mbr-fonts-style foot-title display-4">Местная религиозная организация Церковь Христиан Веры Евангельской (пятидесятников) «Новое Поколение» г. Барнаул, Алтайский край<br>Запись о некоммерческой организации внесена в Единый государственный реестр юр. лиц «14» апреля 2011г. за основным государственным регистрационным номером: 1112202000800 дата выдачи «11» августа 2016 г.
ИНН/КПП: 2223995025/222501001</p>
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 info@electis.ru - все права защищены
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>