<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2x-160x279.png" type="image/x-icon">
  <meta name="description" content="Добро пожаловать в христианскую церковь города Барнаула!">
  
  
  <title>Статья3</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="assets/web/assets/lazyload/lazyload.js"></script>

  

</head>
<body>

<!-- Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61624567, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61624567" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Analytics -->


  <section class="extMenu10 menu cid-rWe895RAZq" once="menu" id="extMenu11-66">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo2x-160x279.png" alt="" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Христианская церковь&nbsp;<br>Барнаула</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="/about">О церкви</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">
                        Предлагаем помощь</a>
                    <div class="dropdown-menu"><a class="dropdown-item text-primary display-7" href="/heal">Исцеление болезней</a><a class="dropdown-item text-primary display-7" href="/social" aria-expanded="false">Социальная
помощь</a><a class="dropdown-item text-primary display-7" href="/psycholog" aria-expanded="false">Семейный психолог</a><a class="dropdown-item text-primary display-7" href="/finance" aria-expanded="false">Финансовая помощь</a></div>
                </li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/feedback">
                        Отзывы</a></li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/contact">
                        Контакты</a></li>
                            <li class="nav-item"><a class="nav-link link text-primary display-7" href="/donate">
                        Пожертвовать</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="https://wa.me/+79609594332">

                    Присоединиться</a></div>
        </div>
    </nav>
</section>

<section class="mbr-section content5 cid-rWe8977eSd" id="content5-67">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-2">Время для семейной молитвы</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rWe8984wco" id="content1-68">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-12">
                <p>Нависшая над нами пандемия большинству из нас кажется невидимой. Опасность существует — она притаилась на тележках продуктового магазина и обернута в дружеские объятия — но мы не можем видеть её своими глазами. Мы можем мыть руки, напевая «С Днем Рождения», но не можем быть уверены, что смыли все микробы. Мы можем протереть сиденье в метро, но не знаем, какие поверхности мы пропустили. Мы можем оставаться дома, но вирус, возможно, уже проник туда.
</p><p>Это прекрасное время для молитвы.
</p><p>В то время как семьи вынуждены оставаться дома, у нас есть возможность вместе взять практически невидимый и внешне ничем не примечательный инструмент молитвы. Мы не видим опасность, но мы знаем Того, кто видит всё. Более того, оправдания отсутствия молитвы — слишком мало времени и слишком много всего происходит — вычеркнуты из календаря. Вечерние мероприятия были отменены, а утренние процедуры перестроены невидимым врагом, оставив семьям только время и единство. Никогда не было лучшего времени для того, чтобы помолиться.
</p><p>В дни неуверенности регулярная семейная молитва подтверждает четыре истины, которые мы часто можем не замечать.
</p><p>1. Реальность невидимого Царства
</p><p>Молитва — призыв к Богу выполнить Свои обещания — является значительным невидимым инструментом в руках невидимого Бога. Когда каждый склоняет голову и закрывает глаза, мы просим Бога исполнить Его святую волю. Молитва сама по себе является актом веры: «Потому что каждый, кто приходит к Нему, должен верить в то, что Он есть и что Он вознаграждает тех, кто Его ищет» (Евреям 11:6). Мы не можем видеть Бога, но верим, что Он слышит нас.
</p><p>Его ответы на наши молитвы также в основном приходят в тайных местах, за пределами взгляда человеческих глаз. Меняются сердца и умы, Евангелие распространяется, Дух нисходит, но на самом деле мы ничего не видим.
</p><p>Невидимость вируса (по крайней мере, для тех из нас, у кого в распоряжении нет научных инструментов) является напоминанием христианам о том, что у нас есть проблемы за пределами видимого мира. Когда мы молимся вместе с нашими семьями, мы утверждаем, что наши приоритеты — это не просто то, что мы видим перед собой. Наша мольба о милости, спасающей от «язвы, ходящей во мраке» (Псалом 90:6), может побудить наши сердца искать Божьей помощи и для всех других скрытых потребностей.
</p><p>Иаков говорит об этом своим больным членам церкви: «Кто-то из вас болен? Пусть позовет старейшин церкви, чтобы те помолились над ним… И молитва с верой исцелит больного: Господь поднимет его. Если заболевший согрешил, то он будет прощен» (Иакова 5:14–15). Болезнь тела выявляет нашу зависимость от Бога для благополучия наших душ. Мы приходим за исцелением и уходим со спасением.
</p><p>2. Духовная ценность детей
</p><p>Молитва также является важной духовной работой, которую могут выполнять дети. Часто служение недоступно для самых маленьких членов нашей семьи. Их миры невелики, а их тела еще меньше. Как правило, они не могут даже включить плиту, не говоря уже об организации работы по оказанию помощи всему сообществу. В неопределённые времена дети могут чувствовать себя беспомощными или бесполезными. Однако молитва — это работа, которую дети могут выполнять так же, как и взрослые.
</p><p>Псалом 8:3 (а позже и Иисус) подтверждает, что молитва веры не зависит от возраста человека, который молится: «Из уст младенцев и грудных детей Ты вызовешь Себе хвалу, из-за Твоих врагов, чтобы сделать безмолвными противника и мстителя» (ср. Мф. 21:15–16). Когда дети молятся, Бог достигает Своих целей. Когда дети молятся, дьявол должен закрыть рот.
</p><p>
</p><p>Когда мы молимся с нашими семьями, то признаем духовную ценность наших детей. Мы приглашаем их использовать свои уста, чтобы призвать имя Господа, и мы присоединяем наши сердца к их прошениям. Подобно маленькой девочке, подтолкнувшей великого Наамана искать помощи Господа в своей болезни (4-я Царств 5), молитвы наших детей приводят нас к Богу, который может исцелить нас от болезней тела и души.</p><p>
</p><p>3. Связь с Божьим народом
</p><p>В то время, когда многие церкви отменяют регулярные собрания, молитва в наших домах подтверждает нашу фундаментальную связь со всем Божьим народом. Молясь, мы присоединяем наши сердца к мольбам Божьих людей в нашем обществе и за его пределами. По всему миру, на каждом языке и среди всех групп населения, христиане взывают о милости к одному и тому же Богу.
</p><p>
</p><p>Когда Израильтяне болели и умирали, разбросанные по своему лагерю в пустыне, у них был единый фокус: медный змей на шесте (Числа 21:9). Вместе они поднимали глаза в поисках помощи. Точно так же в каждом верующем доме по всему миру мы ищем помощи в одном и том же направлении: Сыне, вознесенном для нашего спасения (Иоанна 3:14–15). Мы можем быть рассеяны физически, но вместе мы смотрим на нашего единого Господа.
</p><p>
</p><p>Собираясь вместе в семейной молитве, мы присоединяем наши сердца к молитвам Божьего народа во всех эпохах и местах. Наши прошения вместе предстают перед Господом, наполняя «золотые сосуды, полные благовоний — молитв святых» (Откр. 5:8). Семья в молитве является частью огромной армии, занятой общим делом. Самые слабые молитвы из самой маленькой семьи не достигают небес в одиночку.
</p><p>
</p><p>4. Присутствие Христа с нами
</p><p>Наши молитвы не изолированы, и мы — также.
</p><p>
</p><p>В одном из самых прекрасных побуждений к молитве в Библии Иисус говорит нам: «Там, где двое или трое собраны вместе во имя Моё, там и Я нахожусь вместе с ними» (Матфея 18:20). На своих коленях мама и её дочь, муж и жена, семья из 4-х или 14-ти человек имеют определённое обещание присутствия Христа.
</p><p>
</p><p>Когда наши семьи находят время помолиться вместе на наших кухнях и в гостиных, мы общаемся с Христом. Мы собираемся во имя Его, с Его народом, провозглашая Его хвалу и просим о вещах, которые Ему угодны. И Своим Духом Он тоже будет там. Мы не одиноки перед лицом неопределенности и болезни. Когда семья молится, присутствие Иисуса будет на том месте каждый раз.</p></div>
        </div>
    </div>
</section>

<section class="mbr-section article extСontent cid-rWe898UGPt" id="extContent3-69">

     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 display-4">
                <div class="flex-block">
                    <span class="mbr-iconfont mbri-quote-right"></span>
                    <p class="mbr-fonts-style block-quote display-4">Меган Хилл / thegospelcoalition.org<br> Перевод — Яна Бархатова для <a href="http://ieshua.org" class="text-black">ieshua.org</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFooter cid-rWe899vZTg mbr-reveal" once="footers" id="extFooter1-6a">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-4 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="index.html">
                        <img src="assets/images/logo-1-192x335.png" alt="" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Христианская Церковь Барнаула</p>
              
                
        <div class="media-container-row soc-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
            </a>
        </div>
             
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-5">
                    Разделы сайта</p>
                <p class="mbr-text mbr-fonts-style section-link display-7">
                    <a href="/">Главная</a><br>
                    <a href="/about">О церкви</a><br>
                    <a href="/heal">Исцеление</a><br>
                    <a href="/social">Социальная помощь</a><br>
                    <a href="/psycholog">Семейный психолог</a><br>
                    <a href="/finance">Финансовая помощь</a><br>
                    <a href="/feedback">Отзывы</a><br>
                    <a href="/command">Команда</a><br>
                    <a href="/contact">Контакты</a><br>
                    <a href="/donate">Пожертвовать</a>
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Обратная связь</p>
                <div class="form-block">
                    <div data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Footer Form"><input type="hidden" name="email" data-form-email="true" value="wKtNbNcVU+yynCaS8mvd/Z1qaLWQTqnTDl21CtfX0ilmgrkMgaM/cwZprZAw0aK0e139BPtGBxAB0zLfXBMIlpAHWQockJbHITChTj31FRguvE5EfuwJNILMtQiibRMH.c2ZY5BdoKVMXBN1Iee4Kj2/GOWh4c8QgCxdCfj+TZQpC21S9uxgV9snLh6NeSgIq+86ahlNxJijZngqrnn0qtU3Z9phFu9Rfqpca8qArH3TejYnMISS0ONAmbZpta3aK">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за сообщение!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Ваше имя">
<input type="text" name="Ваше имя" placeholder="Ваше имя" data-form-field="Ваше имя" class="form-control display-7" value="" id="Ваше имя-extFooter1-6a">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Email">
<input type="text" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="Email-extFooter1-6a">
</div>
<div class="col-md-12 form-group" data-for="message">
<textarea name="message" placeholder="Сообщение или вопрос" data-form-field="Message" required="required" class="form-control input display-7" id="message-extFooter1-6a"></textarea>
</div>
<div class="col-md-12 align-center input-group-btn mt-2"><button type="submit" class="btn btn-bgr btn-form btn-secondary display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button></div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-extFooter1-6a" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
              
                <div class="col-sm-12 copyright">
                                   <p class="mb-3 mbr-fonts-style foot-title display-4">Местная религиозная организация Церковь Христиан Веры Евангельской (пятидесятников) «Новое Поколение» г. Барнаул, Алтайский край<br>Запись о некоммерческой организации внесена в Единый государственный реестр юр. лиц «14» апреля 2011г. за основным государственным регистрационным номером: 1112202000800 дата выдачи «11» августа 2016 г.
ИНН/КПП: 2223995025/222501001</p>
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 info@electis.ru - все права защищены
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>