<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2x-160x279.png" type="image/x-icon">
  <meta name="description" content="Добро пожаловать в христианскую церковь города Барнаула!">
  
  
  <title>Команда</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="assets/web/assets/lazyload/lazyload.js"></script>

  

</head>
<body>

<!-- Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61624567, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61624567" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Analytics -->


  <section class="extMenu10 menu cid-rSPIuXZoDd" once="menu" id="extMenu11-23">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo2x-160x279.png" alt="" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Христианская церковь&nbsp;<br>Барнаула</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="/about">О церкви</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">
                        Предлагаем помощь</a>
                    <div class="dropdown-menu"><a class="dropdown-item text-primary display-7" href="/heal">Исцеление болезней</a><a class="dropdown-item text-primary display-7" href="/social" aria-expanded="false">Социальная
помощь</a><a class="dropdown-item text-primary display-7" href="/psycholog" aria-expanded="false">Семейный психолог</a><a class="dropdown-item text-primary display-7" href="/finance" aria-expanded="false">Финансовая помощь</a></div>
                </li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/feedback">
                        Отзывы</a></li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/contact">
                        Контакты</a></li>
                            <li class="nav-item"><a class="nav-link link text-primary display-7" href="/donate">
                        Пожертвовать</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="https://wa.me/+79609594332">

                    Присоединиться</a></div>
        </div>
    </nav>
</section>

<section class="header1 cid-rSPIuZxwI8" data-bg-video="https://www.youtube.com/watch?v=36YgDDJ7XSc" id="header1-24">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Наша команда</h1>
                
                
                
            </div>
        </div>
    </div>

</section>

<section class="extTeams cid-rSPJ1yYq25" id="extTeams8-29">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                
            </div>
        </div>
        <div id="command_list" class="row row-content justify-content-center">




            <div class="card py-4 col-md-12">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/a7r03256-dxo-666x444.jpeg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <div class="text-box">
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5">Артём Торопчин</h4>
                            <p class="mbr-text mbr-fonts-style status mbr-normal display-4">
                                Старший пастор церкви</p>

                            <p class="mbr-text mbr-fonts-style mbr-normal display-4">Благодаря его служению сотни людей изменили свой образ жизни и вышли на её качественный уровень. Эксперт в вопросе лидерства, семьи, предназначения.</p>
                        </div>
                        <div class="ico-wrap">
                            <div class="ico-box">
                                <a href="tel:+79132189085"><span class="px-2 mbr-iconfont mbr-iconfont-social mbri-mobile2"></span></a>
                                <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">+7-983-218-9085</p>
                            </div>

                            <div class="ico-box">
                                <a href="mailto:artorop@mail.ru"><span class="px-2 mbr-iconfont mbr-iconfont-social mbri-letter"></span></a>
                                <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">
                                    artorop@mail.ru</p>
                            </div>
                            <div class="ico-box">
                                <a href="http://artemtoropchin.ru" target="_blank"><span class="px-2 mbr-iconfont mbr-iconfont-social mbri-link"></span></a>
                                <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">artemtoropchin.ru</p>
                            </div>
                                                        <div class="ico-box">
                                <a href="https://vk.com/id490131739" target="_blank"><span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span></a>
                                <a href="https://www.facebook.com/artorop" target="_blank"><span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span></a>
                                <a href="https://ok.ru/profile/562974184434" target="_blank"><span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span></a>
                                <a href="https://www.instagram.com/pastor.artem/" target="_blank"><span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span></a>
                                <a href="https://www.youtube.com/user/ngartem777" target="_blank"><span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span></a>
                            </div>
                                                        
                        </div>
                    </div>
                </div>


            </div>


            


            


        </div>
    </div>


</section>

<section class="extFooter cid-rTiwNNMvLS mbr-reveal" once="footers" id="extFooter1-3x">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-4 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="index.html">
                        <img src="assets/images/logo-1-192x335.png" alt="" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Христианская Церковь Барнаула</p>
              
                
        <div class="media-container-row soc-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
            </a>
        </div>
             
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-5">
                    Разделы сайта</p>
                <p class="mbr-text mbr-fonts-style section-link display-7">
                    <a href="/">Главная</a><br>
                    <a href="/about">О церкви</a><br>
                    <a href="/heal">Исцеление</a><br>
                    <a href="/social">Социальная помощь</a><br>
                    <a href="/psycholog">Семейный психолог</a><br>
                    <a href="/finance">Финансовая помощь</a><br>
                    <a href="/feedback">Отзывы</a><br>
                    <a href="/command">Команда</a><br>
                    <a href="/contact">Контакты</a><br>
                    <a href="/donate">Пожертвовать</a>
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Обратная связь</p>
                <div class="form-block">
                    <div data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Footer Form"><input type="hidden" name="email" data-form-email="true" value="yDHHiRdFBIM8fb3udlNH0OqbtpOw3Cbk9xP8OmOrGv3KFzooTdB90V3Rvzf+GMvaN4THwJneXb88d6hp2K6ARCpGemlVlHghG+yptl6zU2KrLUvd32CMBBWCd53+tgss.RWWHmEvjBQffGePadvTWS2SnAIldNltgxiQfK1W/O2oAGh7sK0hp7lU044sGwbRbAm/J6Lq+DWybFFF2W2KXKOiRUjyaIob9pyscdSi2/547A0vYIXThgQA9y2w59ria">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за сообщение!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Ваше имя">
<input type="text" name="Ваше имя" placeholder="Ваше имя" data-form-field="Ваше имя" class="form-control display-7" value="" id="Ваше имя-extFooter1-3x">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Email">
<input type="text" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="Email-extFooter1-3x">
</div>
<div class="col-md-12 form-group" data-for="message">
<textarea name="message" placeholder="Сообщение или вопрос" data-form-field="Message" required="required" class="form-control input display-7" id="message-extFooter1-3x"></textarea>
</div>
<div class="col-md-12 align-center input-group-btn mt-2"><button type="submit" class="btn btn-bgr btn-form btn-secondary display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button></div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-extFooter1-3x" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
              
                <div class="col-sm-12 copyright">
                                   <p class="mb-3 mbr-fonts-style foot-title display-4">Местная религиозная организация Церковь Христиан Веры Евангельской (пятидесятников) «Новое Поколение» г. Барнаул, Алтайский край<br>Запись о некоммерческой организации внесена в Единый государственный реестр юр. лиц «14» апреля 2011г. за основным государственным регистрационным номером: 1112202000800 дата выдачи «11» августа 2016 г.
ИНН/КПП: 2223995025/222501001</p>
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 info@electis.ru - все права защищены
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  <script src="assets/command.js"></script>
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>