{% include "include/head.html" %}
<section class="header1 cid-rSPIuZxwI8" data-bg-video="https://www.youtube.com/watch?v=36YgDDJ7XSc" id="header1-24">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Наша команда</h1>
                
                
                
            </div>
        </div>
    </div>
</section>

<section class="extTeams cid-rSPJ1yYq25" id="extTeams8-29">
    <div class="container">
        <div id="command_list" class="row row-content justify-content-center">
            {{ command }}
        </div>
    </div>
</section>

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}