<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2x-160x279.png" type="image/x-icon">
  <meta name="description" content="Добро пожаловать в христианскую церковь города Барнаула!">
  
  
  <title>Контакты</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="assets/web/assets/lazyload/lazyload.js"></script>

  

</head>
<body>

<!-- Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61624567, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61624567" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Analytics -->


  <section class="extMenu10 menu cid-rTirrp39pG" once="menu" id="extMenu11-3k">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo2x-160x279.png" alt="" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Христианская церковь&nbsp;<br>Барнаула</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="/about">О церкви</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">
                        Предлагаем помощь</a>
                    <div class="dropdown-menu"><a class="dropdown-item text-primary display-7" href="/heal">Исцеление болезней</a><a class="dropdown-item text-primary display-7" href="/social" aria-expanded="false">Социальная
помощь</a><a class="dropdown-item text-primary display-7" href="/psycholog" aria-expanded="false">Семейный психолог</a><a class="dropdown-item text-primary display-7" href="/finance" aria-expanded="false">Финансовая помощь</a></div>
                </li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/feedback">
                        Отзывы</a></li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/contact">
                        Контакты</a></li>
                            <li class="nav-item"><a class="nav-link link text-primary display-7" href="/donate">
                        Пожертвовать</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="https://wa.me/+79609594332">

                    Присоединиться</a></div>
        </div>
    </nav>
</section>

<section class="header1 cid-rTitwy69nr mbr-parallax-background" id="header1-3p">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Христианская церковь<br>города Барнаула</h1>
                
                
                
            </div>
        </div>
    </div>

</section>

<section class="extSocialButtons cid-rUkCdle7jh" id="extSocialButtons1-4q">

    

    

    <div class="container">
        <div>
            <h2 class="mbr-title pt-2 mbr-fonts-style mb-3 display-5">Оставайтесь с нами в социальных сетях</h2>
        </div>            
        <div class="media-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(237, 66, 102); fill: rgb(237, 66, 102);"></span>
                <p class="mbr-fonts-style display-7">Instagram</p>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                <p class="mbr-fonts-style display-7">Facebook</p>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon" style="color: rgb(15, 118, 153); fill: rgb(15, 118, 153);"></span>
                <p class="mbr-fonts-style display-7">VK</p>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon" style="color: rgb(255, 99, 0); fill: rgb(255, 99, 0);"></span>
                <p class="mbr-fonts-style display-7">OK</p>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
            <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(255, 0, 54); fill: rgb(255, 0, 54);"></span>
            <p class="mbr-fonts-style display-7">Youtube</p>
        </a>
            
            
            
                
            
        </div>
    </div>
</section>

<section class="extMap cid-rTirrpCcqP" id="extMap4-3l">

    

    
    <div class="container-fluid">
        <div class="row main">
            <div class="col-md-6 map">
              <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJh5wqdLOl3UIR12GQdbnrT0U" allowfullscreen=""></iframe></div>
            </div>
            <div class="col-md-6 text-element">
                <div class="text-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Расположение</h2>
                    <div class="underline align-left">
                         <div class="line"></div>
                    </div>
                    <div class="mbr-section-text">
                        <p class="mbr-text pt-3 mbr-light mbr-fonts-style display-7">
                            Служения проводятся каждое воскресение в 11:00 в большом зале (2 этаж)<br>Администратор принимает по будням в 303 каб.<br>Проезд до остановки Чкалова (Мед.институт).</p>
                    </div>
                    <div class="mbr-list  mbr-fonts-style display-7">
                        <ul class="mbr-list mbr-fonts-style">
                          <li> <span class="mbri-globe mbr-iconfont"></span>пр. Комсомольский, д. 80, 2 этаж</li>
                          <li><span class="mbri-alert mbr-iconfont"></span>+7 (960) 959 4332 &nbsp;Елена</li>
                          <li><span class="mbri-letter mbr-iconfont"></span><a href="mailto:artorop@mail.ru">artorop@mail.ru</a></li>
                        </ul>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFooter cid-rTirrqrcHC mbr-reveal" once="footers" id="extFooter1-3m">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-4 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="index.html">
                        <img src="assets/images/logo-1-192x335.png" alt="" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Христианская Церковь Барнаула</p>
              
                
        <div class="media-container-row soc-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
            </a>
        </div>
             
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-5">
                    Разделы сайта</p>
                <p class="mbr-text mbr-fonts-style section-link display-7">
                    <a href="/">Главная</a><br>
                    <a href="/about">О церкви</a><br>
                    <a href="/heal">Исцеление</a><br>
                    <a href="/social">Социальная помощь</a><br>
                    <a href="/psycholog">Семейный психолог</a><br>
                    <a href="/finance">Финансовая помощь</a><br>
                    <a href="/feedback">Отзывы</a><br>
                    <a href="/command">Команда</a><br>
                    <a href="/contact">Контакты</a><br>
                    <a href="/donate">Пожертвовать</a>
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Обратная связь</p>
                <div class="form-block">
                    <div data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Footer Form"><input type="hidden" name="email" data-form-email="true" value="S6Q9fJVmtwSQIYPdjROapC6d2iP+NCFppaJCUAj+zKF2Fq+mP4JtxuuYmRlig2b6XsbovDixN6M/ZrRuocM8YBIol9rxVhBlVscYXa7R15+Vw5J6VD2XJSuAAU4ECdFT.ddW0nuz2x4v0GE/Ch8v48npT74veL6qsGqzOf+3QwuJHIwt/OAAlBXM0Fn7rCvkqbm7jfnLdfVMbjvxPI2iZBYMKoY1emkiHhdi3sbtRCSTGtbwAy2IXxklfvI8GVvLM">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за сообщение!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Ваше имя">
<input type="text" name="Ваше имя" placeholder="Ваше имя" data-form-field="Ваше имя" class="form-control display-7" value="" id="Ваше имя-extFooter1-3m">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Email">
<input type="text" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="Email-extFooter1-3m">
</div>
<div class="col-md-12 form-group" data-for="message">
<textarea name="message" placeholder="Сообщение или вопрос" data-form-field="Message" required="required" class="form-control input display-7" id="message-extFooter1-3m"></textarea>
</div>
<div class="col-md-12 align-center input-group-btn mt-2"><button type="submit" class="btn btn-bgr btn-form btn-secondary display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button></div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-extFooter1-3m" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
              
                <div class="col-sm-12 copyright">
                                   <p class="mb-3 mbr-fonts-style foot-title display-4">Местная религиозная организация Церковь Христиан Веры Евангельской (пятидесятников) «Новое Поколение» г. Барнаул, Алтайский край<br>Запись о некоммерческой организации внесена в Единый государственный реестр юр. лиц «14» апреля 2011г. за основным государственным регистрационным номером: 1112202000800 дата выдачи «11» августа 2016 г.
ИНН/КПП: 2223995025/222501001</p>
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 info@electis.ru - все права защищены
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/sociallikes/social-likes.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>