{% include "include/head.html" %}
<section class="header1 cid-rTitwy69nr mbr-parallax-background" id="header1-3p">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">{{ main.welcome|linebreaksbr }}</h1>
            </div>
        </div>
    </div>
</section>
{% include "include/social.html" %}
{% include "include/place.html" %}
{% include "include/footer.html" %}
{% include "include/footer_js.html" %}