{% include "include/head.html" %}

<section class="header1 cid-rTitwy69nr mbr-parallax-background" id="header1-3p">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Христианская церковь<br>города Барнаула</h1>
                
                
                
            </div>
        </div>
    </div>

</section>

<section class="extSocialButtons cid-rUkCdle7jh" id="extSocialButtons1-4q">

    

    

    <div class="container">
        <div>
            <h2 class="mbr-title pt-2 mbr-fonts-style mb-3 display-5">Оставайтесь с нами в социальных сетях</h2>
        </div>            
        <div class="media-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(237, 66, 102); fill: rgb(237, 66, 102);"></span>
                <p class="mbr-fonts-style display-7">Instagram</p>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                <p class="mbr-fonts-style display-7">Facebook</p>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon" style="color: rgb(15, 118, 153); fill: rgb(15, 118, 153);"></span>
                <p class="mbr-fonts-style display-7">VK</p>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon" style="color: rgb(255, 99, 0); fill: rgb(255, 99, 0);"></span>
                <p class="mbr-fonts-style display-7">OK</p>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
            <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(255, 0, 54); fill: rgb(255, 0, 54);"></span>
            <p class="mbr-fonts-style display-7">Youtube</p>
        </a>
            
            
            
                
            
        </div>
    </div>
</section>

<section class="extMap cid-rTirrpCcqP" id="extMap4-3l">

    

    
    <div class="container-fluid">
        <div class="row main">
            <div class="col-md-6 map">
              <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJh5wqdLOl3UIR12GQdbnrT0U" allowfullscreen=""></iframe></div>
            </div>
            <div class="col-md-6 text-element">
                <div class="text-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Расположение</h2>
                    <div class="underline align-left">
                         <div class="line"></div>
                    </div>
                    <div class="mbr-section-text">
                        <p class="mbr-text pt-3 mbr-light mbr-fonts-style display-7">
                            Служения проводятся каждое воскресение в 11:00 в большом зале (2 этаж)<br>Администратор принимает по будням в 303 каб.<br>Проезд до остановки Чкалова (Мед.институт).</p>
                    </div>
                    <div class="mbr-list  mbr-fonts-style display-7">
                        <ul class="mbr-list mbr-fonts-style">
                          <li> <span class="mbri-globe mbr-iconfont"></span>пр. Комсомольский, д. 80, 2 этаж</li>
                          <li><span class="mbri-alert mbr-iconfont"></span>+7 (960) 959 4332 &nbsp;Елена</li>
                          <li><span class="mbri-letter mbr-iconfont"></span><a href="mailto:artorop@mail.ru">artorop@mail.ru</a></li>
                        </ul>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
</section>

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}