{% include "include/head.html" %}
<section class="mbr-section content5 cid-rURN9g8HgI" id="content5-54">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">На этой странице вы можете внести своё добровольное пожертвование на развитие церкви и осуществление наших проектов</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="header1 cid-rURN9h9cyy" id="header16-55">

    

    

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Платёж не удался, попробуйте ещё раз</h1>
                
                
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-section content4 cid-rURN9i9yK6" id="content4-56">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Перевод через Сбербанк онлайн</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">В приложение Сбербанк онлайн выбираете раздел «Платежи»<br>Перейдите в раздел «Платёж по реквизитам»<br>Заполните поля:<br>Расчетный счёт: <strong>40703810212000000055</strong><div>ИНН получателя: <strong>2223995025</strong><br>БИК: <strong>040173756</strong><br>Проверьте данные и нажмите «Продолжить»<br>Далее часть строк будет заполнена автоматически. Вам необходимо заполнить только полное наименование организации: <br><strong>Местная религиозная организация Церковь Христиан Веры Евангельской (пятидесятников) «Новое Поколение» г. Барнаул, Алтайский край
</strong><br>Затем заполните строку назначения платежа: <strong>Добровольное пожертвования на уставную деятельность 
</strong><br>Затем укажите сумму<br>Проверьте данные и нажмите «Продолжить»<br>Комиссия за перевод состоит 1% от суммы перевода</div></h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section info1 cid-rURN9iX7o4" id="info1-57">

    

    
    <div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">Перевод на расчетный счёт церкви через платёжную систему</h3>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4">
                    <script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormFLS.js?MerchantLogin=ChurchNG&InvoiceID=0&Culture=ru&Encoding=utf-8&Description=%D0%94%D0%BE%D0%B1%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%BD%D0%B0%20%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D1%86%D0%B5%D1%80%D0%BA%D0%B2%D0%B8&DefaultSum=500&SignatureValue=0ed9e997f661c0abdbb3e9e0b32f5b83"></script>
                </div>
            </div>
            <div id="robo_div">
            </div>
        </div>
    </div>
</section>
{% include "include/footer.html" %}
{% include "include/footer_js.html" %}