{% include "include/head.html" %}
<section class="mbr-section content5 cid-rTKosDE0ZJ" id="content5-40">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">На этой странице вы можете внести своё добровольное пожертвование на строительство храма</h3>
            </div>
        </div>
    </div>
</section>
{% block message %}
{% endblock %}
{#<section class="mbr-section info1 cid-rTKxvzSNjl" id="info1-45">#}
{#    <div class="container">#}
{#        <div class="row justify-content-center content-row">#}
{#            <div class="media-container-column title col-12 col-lg-7 col-md-6">#}
{#                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">Перевод на расчетный счёт церкви через платёжную систему</h3>#}
{#            </div>#}
{#            <div class="media-container-column col-12 col-lg-3 col-md-4">#}
{#                <div class="mbr-section-btn align-right py-4">#}
{#<script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormFLS.js?MerchantLogin=ChurchNG&InvoiceID=0&Culture=ru&Encoding=utf-8&Description=%D0%94%D0%BE%D0%B1%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%BD%D0%B0%20%D0%A3%D1%81%D1%82%D0%B0%D0%B2%D0%BD%D1%83%D1%8E%20%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C&DefaultSum=100&SignatureValue=0ed9e997f661c0abdbb3e9e0b32f5b83"></script>#}
{#                 </div>#}
{#            </div>#}
{#            <div id="robo_div">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section class="features11 cid-rVlpCd3PUV" id="features11-5g">
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 40%;">
                    <img src="/qrcode.png" alt="" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5">Перевод по QR коду</h2>
                    <div class="mbr-section-text"></div>
                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="media-body"></div>
                            </div>
                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">В разделе Платежи выберите оплату по QR коду. Наведите мобильное устройство на QR код, затем введите сумму пожертвований и нажмите Подтвердить</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>

<section class="mbr-section content4 cid-rTKFDDDJMQ" id="content4-4a">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-5">Перевод через Сбербанк онлайн</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">
В приложение Сбербанк онлайн выбираете раздел «Платежи»<br>Перейдите в раздел «Платёж по реквизитам»<br>Заполните поля:
<br>Расчетный счёт: <strong>40703810523100000114</strong>
<br>ИНН получателя: <strong>2223995025</strong><br>БИК: <strong>045004774</strong><br>Проверьте данные и нажмите «Продолжить»<br>Далее часть строк будет заполнена автоматически. Вам необходимо заполнить только полное наименование организации: <br><strong>МРО ЦЕРКОВЬ ХРИСТИАН ВЕРЫ ЕВАНГЕЛЬСКОЙ (ПЯТИДЕСЯТНИКОВ) "БЛАГОСЛОВЕНИЕ" Г.БАРНАУЛ,АЛТАЙСКИЙ КРАЙ
</strong><br>Затем заполните строку назначения платежа: <strong>Добровольное пожертвования на уставную деятельность</strong><br>Затем укажите сумму<br>Проверьте данные и нажмите «Продолжить»<br>Комиссия за перевод состоит 1% от суммы перевода
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rTKFDDDJMQ">
    <div class="container">
        <div class="media-container-row">
            <details style="margin: auto">
                <summary>Отчёт за 2019 год</summary>
                <div class="mbr-figure m-auto">
                    <img src="/static/2019.jpg" alt="" title="">
                </div>
            </details>
            <details style="margin: auto">
                <summary>Отчёт за 2020 год</summary>
                <div class="mbr-figure m-auto">
                    <img src="/static/2020.jpg" alt="" title="">
                </div>
            </details>
            <details style="margin: auto">
                <summary>Отчёт за 2021 год</summary>
                <div class="mbr-figure m-auto">
                    <img src="/static/2021.jpg" alt="" title="">
                </div>
            </details>
        </div>
    </div>
</section>

<section class="extVideo cid-rVlrqbT8lI" id="extVideo1-5h">
    <div class="back"></div>
    <div class="container align-center">
        <div class="col-md-12 col-lg-12 text">
            <h2 class="mbr-section-title align-center mbr-semibold pb-4 mbr-fonts-style display-2">Видео инструкция</h2>
        </div>
        <div class="row justify-content-center">
            <div class="mbr-white box col-md-12 col-12 col-lg-10">
                <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow">
                    <div class="icon-wrap">
                        <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=p990HlvRXdg"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                        <span class="sr-only">Закрыть</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "include/footer.html" %}
{% include "include/footer_js.html" %}