<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2x-160x279.png" type="image/x-icon">
  <meta name="description" content="Добро пожаловать в христианскую церковь города Барнаула!">
  
  
  <title>Финансовая помощь</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="assets/web/assets/lazyload/lazyload.js"></script>

  

</head>
<body>

<!-- Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61624567, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61624567" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Analytics -->


  <section class="extMenu10 menu cid-rTadjaNFDp" once="menu" id="extMenu11-2o">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo2x-160x279.png" alt="" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Христианская церковь&nbsp;<br>Барнаула</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="/about">О церкви</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">
                        Предлагаем помощь</a>
                    <div class="dropdown-menu"><a class="dropdown-item text-primary display-7" href="/heal">Исцеление болезней</a><a class="dropdown-item text-primary display-7" href="/social" aria-expanded="false">Социальная
помощь</a><a class="dropdown-item text-primary display-7" href="/psycholog" aria-expanded="false">Семейный психолог</a><a class="dropdown-item text-primary display-7" href="/finance" aria-expanded="false">Финансовая помощь</a></div>
                </li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/feedback">
                        Отзывы</a></li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/contact">
                        Контакты</a></li>
                            <li class="nav-item"><a class="nav-link link text-primary display-7" href="/donate">
                        Пожертвовать</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="https://wa.me/+79609594332">

                    Присоединиться</a></div>
        </div>
    </nav>
</section>

<section class="header1 cid-rTadjbYRM8" data-bg-video="https://www.youtube.com/watch?v=36YgDDJ7XSc" id="header1-2p">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Финансовая помощь</h1>
                
                
                
            </div>
        </div>
    </div>

</section>

<section class="extTimeline cid-rTadjcSmxB" id="extTimeline1-2q">

    

    

    <div class="container-fluid align-center">
        
        
        

        <div class="container timelines-container pt-4" mbri-timelines="">
            <!--1-->
            <div class="row timeline-element first-separline separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left">
                    <div class="time-line-date-content">
                        
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Вы столкнулись с</h4>
                        
                        <p class="mbr-timeline-text mbr-fonts-style display-7">- Безработица
<br>    - Накопились огромные долги
<br>    - Погрязли в кредитах
<br>    - Деньги уходят сквозь пальцы
<br>    - Постоянно живу в долг&nbsp;<br></p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="row timeline-element ">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left">
                    <div class="time-line-date-content">
                        
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Чем мы можем вам помочь</h4>
                        
                        <p class="mbr-timeline-text mbr-fonts-style display-7">- Встреча с финансовым консультантом
<br>- Диагностика вашей проблемы
<br>- Находим решение
<br>- Увеличиваем ваши доходы
<br>- Мгновенно решаем вашу сложность от ее уровня<br></p>
                    </div>
                </div>
            </div>
            <!--3-->
            
            <!--4-->
            
            <!--5-->
            
            <!--6-->
            
            <!--7-->
            
            <!--8-->
            
            <!--9-->
            
            <!--10-->
            
            <!--11-->
            
            <!--12-->
            
        </div>
    </div>
</section>

<section class="form cid-rTadjimDGh" id="formbuilder-2s">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Финансовая помощь"><input type="hidden" name="email" data-form-email="true" value="PGkDwN0RrevKvAfXtgXFdVdv/VXgmyIcSUSD1r2z79dNwKT22ODUaAiCuko1nCelHTh0Be7nIpCbdxwU32R/L8TDQRBInAjGV+Pc4MeE1MZ6Njsn75Cp4hISfK0jnIuy.GTRsS5GPggoECDHAIn5OlktFcgQwZ7Q3so3OvgAzMcr8BRV6/yQV2ODzP6jAp5vdIWBPSkozVaNlSP2PjVHcrbmjUMeRecASIiN3LyDhM8I4iF/Km9zxyCx/acpcVeVt">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо, мы с вами свяжемся!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12">
<h4 class="mbr-fonts-style display-5">Оставьте вашу заявку на консультацию</h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
<p class="display-7">Вашим вопросом займутся ведущие специалисты в вопросах «Планирование личного бюджета», «Решение экономического кризиса»</p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
<hr>
</div>
<div data-for="name" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="text" name="name" placeholder="Ваше имя" data-form-field="name" class="form-control display-7" required="required" value="" id="name-formbuilder-2s">
</div>
<div data-for="email" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control display-7" required="required" value="" id="email-formbuilder-2s">
</div>
<div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="tel" name="phone" placeholder="Телефон" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" data-form-field="phone" required="required" class="form-control display-7" value="" id="phone-formbuilder-2s">
</div>
<div class="col-auto">
<button type="submit" class="btn btn-secondary display-7">Подтвердить</button>
</div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-formbuilder-2s" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
        </div>
    </div>
</section>

<section class="extFooter cid-rTiwyzzG9p mbr-reveal" once="footers" id="extFooter1-3u">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-4 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="index.html">
                        <img src="assets/images/logo-1-192x335.png" alt="" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Христианская Церковь Барнаула</p>
              
                
        <div class="media-container-row soc-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
            </a>
        </div>
             
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-5">
                    Разделы сайта</p>
                <p class="mbr-text mbr-fonts-style section-link display-7">
                    <a href="/">Главная</a><br>
                    <a href="/about">О церкви</a><br>
                    <a href="/heal">Исцеление</a><br>
                    <a href="/social">Социальная помощь</a><br>
                    <a href="/psycholog">Семейный психолог</a><br>
                    <a href="/finance">Финансовая помощь</a><br>
                    <a href="/feedback">Отзывы</a><br>
                    <a href="/command">Команда</a><br>
                    <a href="/contact">Контакты</a><br>
                    <a href="/donate">Пожертвовать</a>
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Обратная связь</p>
                <div class="form-block">
                    <div data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Footer Form"><input type="hidden" name="email" data-form-email="true" value="GhaS0yxV/kpybODW6DT3knSjEURKN6mVFvh7bvWxarJk203IXKabwyu8JrvnpfmMQFKSGys0T3MmotdcxE9adUmMB09mZXUJ1t1mJr+fXqLgBQQMaQEfg2efvZxhgq51.kjMRDjKaE8oFQSBT84UXG9KnP1W5QfS2T8SWK/NGlnq7X4+D6GBf4TR9z/mbFctaw5mOSLhuqzDnok0krEW2JcikaH3+DfAzLzHUcwcfVAEPvhI3g3rfL7/my+ibBpJc">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за сообщение!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Ваше имя">
<input type="text" name="Ваше имя" placeholder="Ваше имя" data-form-field="Ваше имя" class="form-control display-7" value="" id="Ваше имя-extFooter1-3u">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Email">
<input type="text" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="Email-extFooter1-3u">
</div>
<div class="col-md-12 form-group" data-for="message">
<textarea name="message" placeholder="Сообщение или вопрос" data-form-field="Message" required="required" class="form-control input display-7" id="message-extFooter1-3u"></textarea>
</div>
<div class="col-md-12 align-center input-group-btn mt-2"><button type="submit" class="btn btn-bgr btn-form btn-secondary display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button></div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-extFooter1-3u" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
              
                <div class="col-sm-12 copyright">
                                   <p class="mb-3 mbr-fonts-style foot-title display-4">Местная религиозная организация Церковь Христиан Веры Евангельской (пятидесятников) «Новое Поколение» г. Барнаул, Алтайский край<br>Запись о некоммерческой организации внесена в Единый государственный реестр юр. лиц «14» апреля 2011г. за основным государственным регистрационным номером: 1112202000800 дата выдачи «11» августа 2016 г.
ИНН/КПП: 2223995025/222501001</p>
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 info@electis.ru - все права защищены
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal mbr-popup cid-rU7VebZA4p fade" tabindex="-1" role="dialog" data-on-timer-delay="30" data-overlay-color="#000000" data-overlay-opacity="0.8" id="mbr-popup-1f" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pb-0">
                    <h5 class="modal-title mbr-fonts-style display-5">Скачайте бесплатно книгу о карьерном росте «Движение вверх»</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="currentColor">
                            <path d="M31.797 0.191c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.598 0.581 0.342 1.543 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM14.472 17.515c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.613 0.595 0.34 1.562 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM1.144 0.205c-0.584-0.587-1.544 0.336-0.942 0.942l30.654 30.651c0.613 0.625 1.563-0.325 0.942-0.942z"></path>
                        </svg>
                    </button>
                </div>

                <div class="modal-body">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Введите свои данные и мы вышлем вам книгу о карьерном росте «Движение вверх»
                    </p>

                    <div>
                        
                            

                            <div class="form-wrapper" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Стоп развод"><input type="hidden" name="email" data-form-email="true" value="1iId/xX9bgoEiUJTNtagN9AS8EVNpUr6fYaRIwW3iD1tTFUVKPzfEa9aSZDPAmg1apzzFK5onEJ0V5GOWwSb77bCjxBoQKca+StaIKcBb6bONKf6b5EE4HV70cR/muhZ.prmSMYuuXnJr0h6K8oD8SlGxz61w9w1+8GQO1dxn/e3uGZW3l9XLyfWSmXvPa9wkKVcb6vVcvvZWa7UoOB1L+NSe0rFQdfzdbvnNti4MRFFlhin8e0Afyy8HRk0obvYW">
<div class="">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за заполнение заявку!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea">
<div class="col form-group" data-for="name">
<input type="text" name="name" placeholder="Ваше имя" data-form-field="Name" required="required" class="form-control display-7" value="" id="name-mbr-popup-4k">
</div>
<div class="col form-group " data-for="email">
<input type="email" name="email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="email-mbr-popup-4k">
</div>
<div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="tel" name="phone" placeholder="Телефон" data-form-field="phone" class="form-control display-7" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required="required" value="" id="phone-mbr-popup-4k">
</div>
<div class="col-md-auto input-group-btn">
<button type="submit" class="btn btn-secondary display-4">Получить видеовыпуск</button>
</div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-mbr-popup-4k" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/popup-plugin/script.js"></script>
  <script src="assets/popup-ontimer-plugin/script.js"></script>
  <script src="assets/popup-overlay-plugin/script.js"></script>
  <script src="assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>