{% include "include/head.html" %}
<section class="header1 cid-rTadjbYRM8" data-bg-video="https://www.youtube.com/watch?v=36YgDDJ7XSc" id="header1-2p">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Финансовая помощь</h1>
                
                
                
            </div>
        </div>
    </div>

</section>

<section class="extTimeline cid-rTadjcSmxB" id="extTimeline1-2q">

    

    

    <div class="container-fluid align-center">
        
        
        

        <div class="container timelines-container pt-4" mbri-timelines="">
            <!--1-->
            <div class="row timeline-element first-separline separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left">
                    <div class="time-line-date-content">
                        
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Вы столкнулись с</h4>
                        
                        <p class="mbr-timeline-text mbr-fonts-style display-7">- Безработица
<br>    - Накопились огромные долги
<br>    - Погрязли в кредитах
<br>    - Деньги уходят сквозь пальцы
<br>    - Постоянно живу в долг&nbsp;<br></p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="row timeline-element ">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left">
                    <div class="time-line-date-content">
                        
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Чем мы можем вам помочь</h4>
                        
                        <p class="mbr-timeline-text mbr-fonts-style display-7">- Встреча с финансовым консультантом
<br>- Диагностика вашей проблемы
<br>- Находим решение
<br>- Увеличиваем ваши доходы
<br>- Мгновенно решаем вашу сложность от ее уровня<br></p>
                    </div>
                </div>
            </div>
            <!--3-->
            
            <!--4-->
            
            <!--5-->
            
            <!--6-->
            
            <!--7-->
            
            <!--8-->
            
            <!--9-->
            
            <!--10-->
            
            <!--11-->
            
            <!--12-->
            
        </div>
    </div>
</section>

<section class="form cid-rTadjimDGh" id="formbuilder-2s">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Финансовая помощь"><input type="hidden" name="email" data-form-email="true" value="qZCrihqsfBadJfewZYLZ6DVE1qmfO+pTBSQ27xpafx/p1SK+oMeP8sknRXLRChWhUN9Tw/Wmb4nnY8/3n1EZ/IaoBM5XsdreGFA0Bg+A0d14nzTXheAK1AhOjCBBIfXo.mTz/e9GoVtXt915IDU4Q7FrlBXrGGZewN6YHR2EqHeSJTlcjWXiOwaFKbNloNc8O3VKPjDXqR4kUXjWz7HN3hfOdfAOhpOdEi+B60fF9EFDcyYmQN/hTn82Pk/m91c5v">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо, мы с вами свяжемся!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12">
<h4 class="mbr-fonts-style display-5">Оставьте вашу заявку на консультацию</h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
<p class="display-7">Вашим вопросом займутся ведущие специалисты в вопросах «Планирование личного бюджета», «Решение экономического кризиса»</p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
<hr>
</div>
<div data-for="name" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="text" name="name" placeholder="Ваше имя" data-form-field="name" class="form-control display-7" required="required" value="" id="name-formbuilder-2s">
</div>
<div data-for="email" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control display-7" required="required" value="" id="email-formbuilder-2s">
</div>
<div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="tel" name="phone" placeholder="Телефон" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" data-form-field="phone" required="required" class="form-control display-7" value="" id="phone-formbuilder-2s">
</div>
<div class="col-auto">
<button type="submit" class="btn btn-secondary display-7">Подтвердить</button>
</div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-formbuilder-2s" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
        </div>
    </div>
</section>

<div class="modal mbr-popup cid-rU7VebZA4p fade" tabindex="-1" role="dialog" data-on-timer-delay="30" data-overlay-color="#000000" data-overlay-opacity="0.8" id="mbr-popup-1f" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pb-0">
                    <h5 class="modal-title mbr-fonts-style display-5">Скачайте бесплатно книгу о карьерном росте «Движение вверх»</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="currentColor">
                            <path d="M31.797 0.191c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.598 0.581 0.342 1.543 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM14.472 17.515c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.613 0.595 0.34 1.562 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM1.144 0.205c-0.584-0.587-1.544 0.336-0.942 0.942l30.654 30.651c0.613 0.625 1.563-0.325 0.942-0.942z"></path>
                        </svg>
                    </button>
                </div>

                <div class="modal-body">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Введите свои данные и мы вышлем вам книгу о карьерном росте «Движение вверх»
                    </p>

                    <div>
                        
                            

                            <div class="form-wrapper" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Стоп развод"><input type="hidden" name="email" data-form-email="true" value="Tir3+d8AOPUr9Yysm8ubimgLzhQbx+7Vl0EWwaI7AkhDedkKgAxUZHFbVpUT/USmnskBfsbxtkczxvkVIB/XxauVDLKuyHVSVlSWtwuOVYeP+VG4uXL66QQQT8G0L9rt.CQsggszZfFw69RG/0NSjIxLl/2JbfXdTEvMLI+UtlmUHUsmI6AshA47ainZiJqpExqXVcdYPerP99/zCWOeeGG7ZxHFlfEyUTHka8TXHbSTGVjtaC8zCbHz2b0NUGkNM">
<div class="">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за заполнение заявку!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea">
<div class="col form-group" data-for="name">
<input type="text" name="name" placeholder="Ваше имя" data-form-field="Name" required="required" class="form-control display-7" value="" id="name-mbr-popup-4k">
</div>
<div class="col form-group " data-for="email">
<input type="email" name="email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="email-mbr-popup-4k">
</div>
<div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="tel" name="phone" placeholder="Телефон" data-form-field="phone" class="form-control display-7" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required="required" value="" id="phone-mbr-popup-4k">
</div>
<div class="col-md-auto input-group-btn">
<button type="submit" class="btn btn-secondary display-4">Получить видеовыпуск</button>
</div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-mbr-popup-4k" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}