{% include "include/head.html" %}
<section class="cid-rSJiKwgat7 mbr-fullscreen mbr-parallax-background" id="header2-10">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 7, 29);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">История церкви в г.Барнауле</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Церковь образовалась в 2009 году. В Барнаул приехали миссионеры Артем Викторович Торопчин и Анастасия Валерьевна Торопчина  из другого города и начали служить людям евангелием и добрыми делами. В первые года образовали центр реабилитации для нарко и алкозависимых людей спустя 10 лет в нем получили помощь 2000 человек. На протяжении этих лет в городе было сделано много социальных проектов, что подтверждают грамоты и благодарственные письма. С каждым годом церковь растет посылая миссионеров в другие города, и сильными сторонами нашей общины являются поддержка и помощь людям; формирование семейных ценностей и профессиональное консультирование супружеских пар; молитва исцеления за людей со множествами чудес; образовательные процессы направленные на процветание людей; юридические консультации.
                </p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Наша церковь официально зарегистрирована в государстве на ряду со всеми другими традиционными христианскими организациями. Это говорит о том, что наша страна нам доверяет, и что мы исполняем и живем так как написано в священном писании - Библии.
                </p>
                <p>Местная религиозная организация Церковь христиан Веры Евангельской (пятидесятников) "Благословение" г.Барнаул, Алтайский край ОГРН 1112202000800</p>
            </div>
        </div>
    </div>
</section>

<!--section class="mbr-section content4 cid-rSJjHY7Zpn" id="content4-12">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-10">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Главныe ценности церкви </h2>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Присутствие Бога. Без Него мы не можем делать ничего. Мы ищем проявленное присутствие.
                </p>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Бескомпромиссное Слово Божье. Мы верим, что Библия есть богодухновенное Слово Божье и является абсолютным авторитетом в вопросах веры и практики жизни Церкви.
                </p>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Любовь к человеку на принципах уважения, почтения и принятия. Человек сотворен по образу Божьему как венец и цель всего творения
                </p>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Крепкая счастливая семья. Любая семья это проект Бога на этой земле, и Он определил семью как место наслаждения, продолжения рода, безопасности для в ней живущих.
                </p>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Спасение людей от ада. Нашей ценностью является проповедь евангелия. Мы верим, что по вере в жертвенную смерть и воскресение Иисуса Христа каждый человек получает прощение грехов и вечную жизнь, рождается заново (свыше), становится дитём Божьим и получает дар Святого Духа.
                </p>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Реализация потенциала каждого человека. Мы ценим стремление к саморазвитию. Личный рост усиливает мой вклад в общий рост. Общий рост усиливает территорию влияния Царства на процессы жизни на Земле.
                </p>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Единство среди людей. То, что может сделать один, сделай с кем-то. Ценность связей и взаимоотношений.
                </p>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Видение церкви. У церкви есть четкое и ясное предназначение и Бога четкий план для его реализации. Церковь это не анархичное сообщество а организм (организация) в котором Один Бог, одно видение, одна миссия.
                </p>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
Сверхъестественные чудеса. Мы ценим веру в сверхъестественные решения проблем, каждый день место для чуда.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="cid-rSJiKwgat7 mbr-fullscreen mbr-parallax-background" id="header2-10">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 7, 29);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Наше видение</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Многотысячная церковь</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Помазанные профессионалы в служении (эксперты своего дела)</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">В каждом доме города домашние группы</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Проведение больших евангелизационных служений на площадках города</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Миссионеры в города и селения</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Храм в городе</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Досуговый Загородный Дом Церкви</p>
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Стратегия достижения</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Церковь без стен! Предлагающая свои услуги для населения. Благодаря которым будут приходить ко Христу</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Церковь Семья! Общение, забота, любовь и добродетель</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Церковь и образование! Образ жизни меняется благодаря мыслям в голове. Ученик Иисуса это духовно зрелый, целостный и состоявшаяся личность которая оставит след на этой земле.</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Церковь это я! Каждый родился для миссии совершить большое дело для Бога. Благодаря своим дарам.</p>
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Миссия</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Церковь это Соль для этой земли и Свет для этого мира. Мы несем любовь Христа для служения и спасения каждого человека рядом с нами. А так же разрушать словом Божьим и верой дела дьявола.</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Мы непосредственно помогаем жителям города с социальными, с финансовыми, с семейными проблемами, и душевными проблемами. За это время мы оказали помощь более тысячи человек.</p>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Ключевые услуги: Реабилитация для нарко и алкозависимым а так же людям без жилья; Молитва за исцеление; Семейная консультация; Раздача продуктов и одежды; Финансовое консультирование; Юридические констультации</p>
            </div>
        </div>
    </div>
</section-->

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}