<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2x-160x279.png" type="image/x-icon">
  <meta name="description" content="Добро пожаловать в христианскую церковь города Барнаула!">
  
  
  <title>Христианская Церковь Барнаула</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/web/assets/gdpr-plugin/gdpr-styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="assets/web/assets/lazyload/lazyload.js"></script>

  

</head>
<body>

<!-- Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(61624567, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/61624567" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Analytics -->


  <section class="extMenu10 menu cid-rRBaMrUBpq" once="menu" id="extMenu11-g">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo2x-160x279.png" alt="" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Христианская церковь&nbsp;<br>Барнаула</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="/about">О церкви</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle text-primary display-7" data-toggle="dropdown-submenu" aria-expanded="false">
                        Предлагаем помощь</a>
                    <div class="dropdown-menu"><a class="dropdown-item text-primary display-7" href="/heal">Исцеление болезней</a><a class="dropdown-item text-primary display-7" href="/social" aria-expanded="false">Социальная
помощь</a><a class="dropdown-item text-primary display-7" href="/psycholog" aria-expanded="false">Семейный психолог</a><a class="dropdown-item text-primary display-7" href="/finance" aria-expanded="false">Финансовая помощь</a></div>
                </li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/feedback">
                        Отзывы</a></li>
                <li class="nav-item"><a class="nav-link link text-primary display-7" href="/contact">
                        Контакты</a></li>
                            <li class="nav-item"><a class="nav-link link text-primary display-7" href="/donate">
                        Пожертвовать</a></li></ul>
            
        </div>
    </nav>
</section>

<section class="extHeader cid-rRpauAYuQh mbr-fullscreen mbr-parallax-background" id="extHeader1-2">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(0, 7, 29);"></div>

    <div class="container align-left">
        <div class="row">
            <div class="mbr-white col-lg-6 col-md-6">
                <div class="wrapper">
                    <h1 class="mbr-section-title mbr-bold pb-2 mbr-fonts-style display-5">Добро пожаловать<br>в христианскую церковь<br>города Барнаула</h1>
                    
                    
                    
                   <div> <img src="assets/images/mbr-260x118.png" title="mobirise" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="extTeams cid-rSarTUpv7X" id="extTeams14-x">

    

    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                
                

            </div>
        </div>
        <div class="row row-content justify-content-center">



            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-948x632.jpeg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-bold display-5">Исцеление</h4>
<div class="line-wrap"><div class="line"></div></div>
                           <p class="mbr-text mbr-fonts-style display-7">- Болезни
<br>- Наследственные, душевные, приобретённые
<br>- Более 1000 уже исцелены</p>
                        <div class="mbr-section-btn"><p>Облегчи свою жизнь!</p>
                            <a class="btn btn-md btn-secondary display-4" href="/heal">
                                Узнать больше</a></div>
                            </div>
                    
                </div>
            </div>





            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-948x1185.jpeg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-bold display-5">Социальная помощь</h4>
                        <div class="line-wrap"><div class="line"></div></div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            - Продуктовые пакеты и одежда<br>- Более 3000 уже получили помощь</p>
                        <div class="mbr-section-btn"><p>Один шаг и ваша семья накормлена и одета!</p>
                            <a class="btn btn-md btn-secondary display-4" href="/social">
                                Узнать больше</a></div>
                    </div>
                </div>
            </div>



            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/a7r02272-1-948x1420.jpeg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-bold display-5">Семейный психолог</h4>
                        <div class="line-wrap"><div class="line"></div></div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            - Опытный специалист с практикой более 12 лет<br>- Бесплатная консультация<br>- Практично, комфортно, результативно<br></p>
                                                
                        <div class="mbr-section-btn"><p>Десятки семей уже решили свои проблемы!</p>
                            <a class="btn btn-md btn-secondary display-4" href="/psycholog">
                                Узнать больше</a></div>
                    </div>
                </div>
            </div>




            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/a7r03121-948x1420.jpeg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-bold display-5">Финансовая помощь</h4>
                        <div class="line-wrap"><div class="line"></div></div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            - Профессиональная консультация<br>- Решение долговых обязательств<br>- Увеличение бюджета</p>
                                             
                        <div class="mbr-section-btn"><p>Завершение вашего кризиса!</p>
                            <a class="btn btn-md btn-secondary display-4" href="/finance">
                                Узнать больше</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="features9 cid-rRpbuMaKcr" id="extFeatures47-8">

    

    
    <div class="container-fluid">
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">

                <div class="card-img">
                    <img src="assets/images/mbr-952x634.jpg" alt="" title="">
                </div>

            </div>

            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">

                    <h4 class="card-title align-left mbr-fonts-style display-2">Информация о церкви</h4>

                    <div class="mbr-section-btn"><a href="about.html" class="btn btn-secondary-outline display-4">Перейти</a></div>


                </div>
            </div>


            
                        <div class="card col-12 col-md-6 col-lg-3">

                <div class="card-img">
                    <img src="assets/images/mbr-2-952x499.jpeg" alt="" title="">
                </div>

            </div>

            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">

                    <h4 class="card-title align-left mbr-fonts-style display-2">Отзывы</h4>

                    <div class="mbr-section-btn"><a href="feedback.html" class="btn btn-secondary-outline display-4">
                            Перейти</a></div>


                </div>
            </div>

        </div>
    </div>
</section>

<div id="custom-html-3c"><!-- Type valid HTML here -->
<section id="review-video">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
<iframe width="100%" height="480px" src="https://www.youtube.com/embed/V3x1CPGMSbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
            <div class="col-lg-6 p-0">
<iframe width="100%" height="480px" src="https://www.youtube.com/embed/LuQEjIP1QQE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section></div>

<section class="tabs2 cid-rUA7It9snz" id="tabs2-4w">

    

    
    <div class="container">
        <h2 class="mbr-section-title align-center pb-5 mbr-bold mbr-fonts-style display-2">
            Трансляция служения</h2>
            <div class="media-container-row">
              <div class="col-12 col-md-8 mbr-text">
                <a class="btn btn-md btn-secondary" href="https://www.youtube.com/channel/UCAdwiYei9LfBtbQH3quITmA" target="_blank">Перейти ко всем видео</a>
            </div>
        </div>
    </div>
</section>

<section class="cid-rUA5E8RtMk" id="video3-4u">

    
    <figure class="mbr-figure align-center container">
        <div class="video-block" style="width: 100%;">
            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/X2g4Q6QpHcg?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
        </div>
    </figure>
</section>

<section class="extClients clients cid-rW2uY8SpjT" id="extClients4-5r">
    

    

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1380px" height="810px" viewBox="0 -8.992806499463768e-14 1380 810" preserveAspectRatio="xMidYMid meet">
        <rect id="svgEditorBackground" x="0" y="0" width="1380" height="810" style="fill: none; stroke: none;"></rect>
        <defs id="svgEditorDefs">
            <polygon id="svgEditorShapeDefs" style="fill:khaki;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"></polygon>
            <path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:khaki;"></path>
        </defs>
        <path d="M15083.791600683318,645.6720847341486c496.6000000000058,747.7999999999951,1953.3704016668416,1862.6734725832403,2751.999999999978,1967.9999999999955s1884.300000000003,-198.89999999999964,2718.7056474818382,-552.6365690040448s1746.4898225846773,-519.9524548776521,2593.2943525181545,-567.3634309959566s2251,-23.399999999999636,4384,1520.0000000000032s3205.199999999997,1437.2000000000025,4047.9999999999854,1520.0000000000018s3305.000000000029,-270.2999999999993,4640.000000000029,-1152s74.60000000000582,3328.3000000000065,32,3792.0000000000073s-19509.4,4591.000000000004,-21087.999999999993,-128.00000000000182s-1679.5999999999913,-6358.300000000001,-80,-6400Z" style="stroke:black;fill:khaki;stroke-width:0px;" id="e12_areaS3" transform="matrix(0.0650006 -0.00123765 0.00123765 0.0650006 -995.543 317.589)"></path>
        <path d="M12434.469938292996,-979.2324603008726c496.600000000004,747.8000000000001,1953.3704016668398,1862.673472583247,2752.000000000018,1967.9999999999995s1884.2999999999865,-198.90000000000055,2718.7056474818364,-552.6365690040473s1746.4898225846846,-519.9524548776479,2593.2943525181618,-567.3634309959524s2251,-23.400000000001455,4384,1520s3205.199999999997,1437.1999999999962,4048,1519.9999999999955s3304.9999999999927,-270.3000000000011,4640,-1151.9999999999955s74.60000000000582,3328.3,32,3791.9999999999955s-19509.400000000023,4590.999999999997,-21088.000000000015,-127.99999999999818s-1679.5999999999985,-6358.300000000008,-80,-6400.0000000000055Z" style="stroke:black;fill:aqua;stroke-width:0px;" id="e19_areaS3" transform="matrix(0.0647268 0.00608646 -0.00608646 0.0647268 -823.261 331.266)"></path><text dy="-0.5em" style="fill:black;font-family:Arial;font-size:20px;" id="e14_texte" transform="matrix(0.0640454 0 0 0.0640454 -832.187 329.878)">
            <textPath id="e13_textPath" xlink:href="#e12_areaS3">T</textPath>
        </text>
    </svg>


    <div class="container mb-5">
        <div class="media-container-row">
            <div class="col-12 align-center">
                <h2 class="mbr-section-title pb-3 mbr-bold mbr-fonts-style display-2">
                    Наши новости</h2>
                
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="carousel slide" data-ride="carousel" role="listbox">
            <div id="news_list" class="carousel-inner" data-visible="5">
                
                
            
                
            <div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">3 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Новости сайта</p>
                            <div class="wrap-img ">
                                <a href="/donate"><img src="assets/images/mbr-5-1920x1280.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="/donate" class="text-secondary">Возможность пожертвовать онлайн!</a></h4>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">5 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Статьи</p>
                            <div class="wrap-img ">
                                <a href="/article1"><img src="assets/images/mbr-6-1920x1280.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="/article1" target="_blank" class="text-secondary">Коронавирус и Христос!</a></h4>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">7 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Статьи</p>
                            <div class="wrap-img ">
                                <a href="/article2"><img src="assets/images/mbr-1920x1315.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="/article2" target="_blank" class="text-secondary">Возлюби ближнего своего: оставайся дома!</a></h4>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">9 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Статьи</p>
                            <div class="wrap-img ">
                                <a href="/article3"><img src="assets/images/mbr-1620x1080.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="/article3" target="_blank" class="text-secondary">Время для семейной молитвы</a></h4>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">12 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Трансляция служения</p>
                            <div class="wrap-img ">
                                <a href="https://youtu.be/X2g4Q6QpHcg" target="_blank"><img src="assets/images/pr-480x270.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="https://www.youtube.com/watch?v=X2g4Q6QpHcg" target="_blank" class="text-secondary">За одного битого двух небитых дают</a></h4>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">13 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Трейлер проповеди</p>
                            <div class="wrap-img ">
                                <a href="https://www.youtube.com/watch?v=8cwU5jJ1tbI" target="_blank"><img src="assets/images/tr1-1280x720.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="https://www.youtube.com/watch?v=8cwU5jJ1tbI" target="_blank" class="text-secondary">За одного битого двух небитых дают</a></h4>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">13 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Пасхальная неделя</p>
                            <div class="wrap-img ">
                                <a href="https://www.youtube.com/watch?v=ZtJ0lrEIIhs" target="_blank"><img src="assets/images/maxresdefault-1280x720.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="https://www.youtube.com/watch?v=ZtJ0lrEIIhs" target="_blank" class="text-secondary">В чём виновата смоковница?</a></h4>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">14 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Пасхальная неделя</p>
                            <div class="wrap-img ">
                                <a href="https://www.youtube.com/watch?v=qA68wYyx6DM" target="_blank"><img src="assets/images/-1280x720.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="https://www.youtube.com/watch?v=qA68wYyx6DM" target="_blank" class="text-secondary">Религиозность не спасёт!</a></h4>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-4">15 апреля 2020 г.</p>
                            <p class="mbr-text mbr-fonts-style status mbr-normal my-0 display-7">Пасхальная неделя</p>
                            <div class="wrap-img ">
                                <a href="https://youtu.be/-TKckVhicLU"><img src="assets/images/sr-1280x720.jpg" class="img-responsive clients-img" alt="" title=""></a>
                            </div>
                            <h4 class="card-title mbr-fonts-style mbr-normal display-5"><a href="https://youtu.be/-TKckVhicLU" target="_blank" class="text-secondary">Посвящённая и Предатель!</a></h4>
                        </div>
                    </div>
                </div></div>
            <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Назад</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Вперед</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="extSocialButtons cid-rRYrIN6DCR" id="extSocialButtons1-q">

    

    

    <div class="container">
        <div>
            <h2 class="mbr-title pt-2 mbr-fonts-style mb-3 display-5">Оставайтесь с нами в социальных сетях</h2>
        </div>            
        <div class="media-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(237, 66, 102); fill: rgb(237, 66, 102);"></span>
                <p class="mbr-fonts-style display-7">Instagram</p>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                <p class="mbr-fonts-style display-7">Facebook</p>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon" style="color: rgb(15, 118, 153); fill: rgb(15, 118, 153);"></span>
                <p class="mbr-fonts-style display-7">VK</p>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon" style="color: rgb(255, 99, 0); fill: rgb(255, 99, 0);"></span>
                <p class="mbr-fonts-style display-7">OK</p>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
            <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(255, 0, 54); fill: rgb(255, 0, 54);"></span>
            <p class="mbr-fonts-style display-7">Youtube</p>
        </a>
            
            
            
                
            
        </div>
    </div>
</section>

<section class="extTeams cid-rRpbLmHpVI" id="extTeams14-a">

    

    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="mbr-section-title pb-2 mbr-bold mbr-fonts-style align-left display-2">Наша команда</h2>
                

            </div>
        </div>
        <div class="row row-content justify-content-center">



            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/pastor-pocket-592x888.jpeg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-2 mbr-fonts-style mbr-bold display-5">Артем Торопчин</h4>
                        <p class="mbr-text mbr-fonts-style display-4">
                            Пастор</p>
                        <div class="mbr-section-btn align-left"><a class="btn btn-md btn-secondary display-4" href="/command">
                                Подробнее</a></div>
                    </div>
                </div>
            </div>





            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/a7r02720-dxo-2-948x1421.jpeg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-2 mbr-fonts-style mbr-bold display-5">Анастасия Торопчина</h4>
                        <p class="mbr-text mbr-fonts-style display-4">
                            Семейный психолог</p>
                        <div class="mbr-section-btn align-left"><a class="btn btn-md btn-secondary display-4" href="/command">
                                Подробнее</a></div>
                    </div>
                </div>
            </div>



            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/a7r02771-dxo-2-948x1421.jpeg" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-2 mbr-fonts-style mbr-bold display-5">Елена Рунова</h4>
                        <p class="mbr-text mbr-fonts-style display-4">
                            Администратор</p>
                        <div class="align-left"><a class="btn btn-md btn-secondary display-4" href="/command">
                                Подробнее</a></div>
                    </div>
                </div>
            </div>




            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/fon-7-948x1420.jpeg" title="" alt="">
                    </div>
                    <div class="card-box-show">
                        <h4 class="card-title pb-2 mbr-fonts-style mbr-bold display-5">Вся команда</h4>
                        <div class="mbr-section-btn align-left"><a class="btn btn-md btn-secondary btn-show display-4" href="/command">Перейти</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="extMap cid-rRYvB0Oioi" id="extMap4-t">

    

    
    <div class="container-fluid">
        <div class="row main">
            <div class="col-md-6 map">
              <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJh5wqdLOl3UIR12GQdbnrT0U" allowfullscreen=""></iframe></div>
            </div>
            <div class="col-md-6 text-element">
                <div class="text-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Расположение</h2>
                    <div class="underline align-left">
                         <div class="line"></div>
                    </div>
                    <div class="mbr-section-text">
                        <p class="mbr-text pt-3 mbr-light mbr-fonts-style display-7">
                            Служения проводятся каждое воскресение в 11:00 в большом зале (2 этаж)<br>Администратор принимает по будням в 303 каб.<br>Проезд до остановки Чкалова (Мед.институт).</p>
                    </div>
                    <div class="mbr-list  mbr-fonts-style display-7">
                        <ul class="mbr-list mbr-fonts-style">
                          <li> <span class="mbri-globe mbr-iconfont"></span>пр. Комсомольский, д. 80, 2 этаж</li>
                          <li><span class="mbri-alert mbr-iconfont"></span>+7 (960) 959 4332 &nbsp;Елена</li>
                          <li><span class="mbri-letter mbr-iconfont"></span><a href="mailto:artorop@mail.ru">artorop@mail.ru</a></li>
                        </ul>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFooter cid-rTiw1Jutr9 mbr-reveal" once="footers" id="extFooter1-3q">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-4 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="index.html">
                        <img src="assets/images/logo-1-192x335.png" alt="" title="">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    Христианская Церковь Барнаула</p>
              
                
        <div class="media-container-row soc-container-row">
            <a href="https://www.instagram.com/church_ng/" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
            </a>
            <a href="https://www.facebook.com/ngbarnaul" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
            </a>
            <a href="https://vk.com/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
            </a>
            <a href="https://ok.ru/mychurch22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon"></span>
            </a>
            <a href="http://www.youtube.com/c/church22" target="_blank">
                <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
            </a>
        </div>
             
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-5">
                    Разделы сайта</p>
                <p class="mbr-text mbr-fonts-style section-link display-7">
                    <a href="/">Главная</a><br>
                    <a href="/about">О церкви</a><br>
                    <a href="/heal">Исцеление</a><br>
                    <a href="/social">Социальная помощь</a><br>
                    <a href="/psycholog">Семейный психолог</a><br>
                    <a href="/finance">Финансовая помощь</a><br>
                    <a href="/feedback">Отзывы</a><br>
                    <a href="/command">Команда</a><br>
                    <a href="/contact">Контакты</a><br>
                    <a href="/donate">Пожертвовать</a>
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Обратная связь</p>
                <div class="form-block">
                    <div data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Footer Form"><input type="hidden" name="email" data-form-email="true" value="VMdfREUG6kSQb9NrfZJZJhFz9KcLRo3M18Ei74Xw7jPXwAKlreiVv+/SOkn0AtA9wcDDtM3wZcIRz3wQVzOx2xVAxNYPOa26wOV64v+V59I2dKPpF3NdeqAvwxo0pQkW.g3SiDa/NXTuU52LbHlcY/VNHS0vRh6Uwvl3yj2y0wpajhjnONTlF6kLPvE0C8vstJag/NOmNLz/IzXkXL0jVc4ActKqm48iLP+S+yH0OXZSjRYjPH1M/Iid52l+HlEm6">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за сообщение!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Ваше имя">
<input type="text" name="Ваше имя" placeholder="Ваше имя" data-form-field="Ваше имя" class="form-control display-7" value="" id="Ваше имя-extFooter1-3q">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Email">
<input type="text" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" value="" id="Email-extFooter1-3q">
</div>
<div class="col-md-12 form-group" data-for="message">
<textarea name="message" placeholder="Сообщение или вопрос" data-form-field="Message" required="required" class="form-control input display-7" id="message-extFooter1-3q"></textarea>
</div>
<div class="col-md-12 align-center input-group-btn mt-2"><button type="submit" class="btn btn-bgr btn-form btn-secondary display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button></div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-extFooter1-3q" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
              
                <div class="col-sm-12 copyright">
                                   <p class="mb-3 mbr-fonts-style foot-title display-4">Местная религиозная организация Церковь Христиан Веры Евангельской (пятидесятников) «Новое Поколение» г. Барнаул, Алтайский край<br>Запись о некоммерческой организации внесена в Единый государственный реестр юр. лиц «14» апреля 2011г. за основным государственным регистрационным номером: 1112202000800 дата выдачи «11» августа 2016 г.
ИНН/КПП: 2223995025/222501001</p>
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 info@electis.ru - все права защищены
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal mbr-popup cid-rW7OZ7QJxk fade" tabindex="-1" role="dialog" data-on-timer-delay="15" data-overlay-color="#000000" data-overlay-opacity="0.8" id="mbr-popup-5s" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pb-0">
                    <h5 class="modal-title mbr-fonts-style display-5">Вопрос пастору</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="currentColor">
                            <path d="M31.797 0.191c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.598 0.581 0.342 1.543 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM14.472 17.515c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.613 0.595 0.34 1.562 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM1.144 0.205c-0.584-0.587-1.544 0.336-0.942 0.942l30.654 30.651c0.613 0.625 1.563-0.325 0.942-0.942z"></path>
                        </svg>
                    </button>
                </div>

                <div class="modal-body">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Если у вас есть какой-либо вопрос, вы можете задать его лично пастору Артёму Торопчину</p>

                    <div>
                        
                            

                            <div class="form-wrapper" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="question"><input type="hidden" name="email" data-form-email="true" value="4gqoFv++DnbrNNBorAWgro51fg2Vo8NDerIPDhbxivnxliy3Mb3UKoQIM9Mr6kURtiLERXoN3XCeGxnWnJgo1ZvjHBbk9ul7fmZzQiNubVxTKZ/OagFW+yW44bTuLD0z.K1jvJ58yFXmtDLLUI5H/lEa7irZ3R8kWcBM5SBIdqazKgH0Jer2tveNuTl7bPtCLQ4UU0ys4fwRO6l3artJq7SsAbrsRqW9W3N7Kxmm0A3yv9cPNX71gAOe3RNpKzA8b">
<div class="">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за ваш вопрос</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="name">
<input type="text" name="name" placeholder="Ваше имя" data-form-field="name" required="required" class="form-control display-7" value="" id="name-mbr-popup-5s">
</div>
<div class="col form-group " data-for="email">
<input type="email" name="email" placeholder="Email" data-form-field="Email" required="required" class="form-control display-7" value="" id="email-mbr-popup-5s">
</div>
<div data-for="textarea" class="col-lg-12 col-md-12 col-sm-12 form-group">
<textarea name="textarea" placeholder="Вопрос" data-form-field="textarea" required="required" class="form-control display-7" id="textarea-mbr-popup-5s"></textarea>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 input-group-btn">
<button type="submit" class="btn btn-primary display-4">Отправить</button>
</div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-mbr-popup-5s" required="">Подтверждаю своё согласие c <a style="color: #149dcc; text-decoration: underline;" href="/policy">Пользовательским соглашением об использовании персональных данных</a> </span>
</label>
</span></form><!--Formbuilder Form-->
</div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/mbr-tabs/mbr-tabs.js"></script>
  <script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="assets/sociallikes/social-likes.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/popup-plugin/script.js"></script>
  <script src="assets/popup-ontimer-plugin/script.js"></script>
  <script src="assets/popup-overlay-plugin/script.js"></script>
  <script src="assets/mbr-clients-slider/mbr-clients-slider.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  <script src="assets/news.js"></script>
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>