{% include "include/head.html" %}

<section class="header1 cid-rSJAsnj6pk" data-bg-video="https://youtu.be/_3Eb-QifqeU?list=PLHigPqeFZw1Ui0QZdEmlarmBLO2g7zKjV" id="header1-2b">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Обучение</h1>
            </div>
        </div>
    </div>
</section>

<section class="extTimeline cid-rSJAWpbaO9" id="extTimeline1-2c">
    <div class="container-fluid align-center">
        <div class="container timelines-container pt-4" mbri-timelines="">
            <div class="row timeline-element ">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left">
                    <div class="time-line-date-content">
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Центр помощи для нарко- и алкозависимых</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            - Вся информация по социальной реабилитации на сайте <a target="_blank" class="text-secondary mbr-bold" href="https://da22.ru/">Скажи жизни Да!</a></p>
                    </div>
                </div>
            </div>
            <!--1-->
            <div class="row timeline-element first-separline separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left">
                    <div class="time-line-date-content">
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Вам знакомы эти проблемы?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">- Не хватает продуктов, большая семья
<br>- Временная сложная жизненная ситуация
<br>- Низкая зарплата
<br>- Вам неудобно просить, но семья в нужде&nbsp;<br></p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="row timeline-element">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left">
                    <div class="time-line-date-content">
                        
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Как вы можете получить помощь</h4>
                        
                        <p class="mbr-timeline-text mbr-fonts-style display-7">- Прийти к нам и наши специалисты помогут вам в решении этого вопроса
<br>- Оставьте заявку на сайте
<br>- Каждую неделю у нас проходит открытая акция. Регистрация на сайте <a target="_blank" class="text-secondary mbr-bold" href="https://blago22.ru/">День милосердия</a>
<br>- Вы можете получить один продуктовый пакет на человека, а так-же одежду и обувь<br></p>
                    </div>
                </div>
            </div>
            <!--3-->
        </div>
    </div>
</section>


{% include "include/footer.html" %}
{% include "include/footer_js.html" %}