{% include "include/head.html" %}
{% load thumbnail %}

<section class="header1 cid-rSJAsnj6pk" data-bg-video="https://youtu.be/_3Eb-QifqeU?list=PLHigPqeFZw1Ui0QZdEmlarmBLO2g7zKjV" id="header1-2b">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Обучение</h1>
            </div>
        </div>
    </div>
</section>

<section class="extTimeline cid-rSJAWpbaO9" id="extTimeline1-2c">
    <div class="container-fluid align-center">
        <div class="container timelines-container pt-4" mbri-timelines="">\
{# #}
{#            <div class="row timeline-element first-separline separline">#}
{#                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>#}
{#                <span class="iconBackground"></span>#}
{#                <div class="col-xs-12 col-md-9">#}
{#                    <div class="timeline-text-content">#}
{#                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Программа «Мой духовный рост»</h4>#}
{#                        <p class="mbr-timeline-text mbr-fonts-style display-7">#}
{#                            Бог желает для нас роста и духовной зрелости. С того момента, как мы доверили свою жизнь Богу, Он ведёт постоянную работу с нами. Он желает, чтобы мы всё больше и больше становились теми, кем Он нас задумал.#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Почему рост настолько важен?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Неразвивающегося верующего человека ждут разочарования, повторяющиеся неудачи, бессмысленные конфликты.
                            <br>Поддержка нужна каждому, чтобы крепко стоять в вере, пребывать в Божьем Слове, любить и совершать добрые дела.
                        </p>
                    </div>
                </div>
            </div>
{# #}
{#            <div class="row timeline-element separline">#}
{#                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>#}
{#                <span class="iconBackground"></span>#}
{#                <div class="col-xs-12 col-md-9">#}
{#                    <div class="timeline-text-content">#}
{#                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Духовному росту способствует наставничество.</h4>#}
{#                        <p class="mbr-timeline-text mbr-fonts-style display-7">#}
{#                            Мы все нуждаемся в поддержке, чтобы крепко стоять в вере, пребывать в Божьем Слове, любить и совершать добрые дела. Нам необходимо общение с людьми, которые знают Бога и которые могут помочь нам в укреплении отношений с Ним. (которые знают Бога - заменить одним эпитетом)#}
{#<br>Деяния св. Апостолов 2:42#}
{#<br>…Они постоянно пребывали в … общении и преломлении хлеба…#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Для кого?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
• недавно посещаете церковь<br>
• молились молитвой покаяния<br>
• хотите обновить ваши отношения с Богом<br>
• хотите укрепить веру<br>
• интересен вопрос призвания
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Как выбрать наставника?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
• приоритет у наставника с вашей домашней группы<br>
• если вы не в домашней группе, то можете выбрать произвольного наставника<br>
• наставник должен быть одного пола с вами
{#<br><a href="">Смотреть список наставников</a>#}
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Из чего состоит программа?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
Программа длится 4 недели по 5 тем.
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Какие результаты вас ждут?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
• научитесь слышать Бога<br>
• научитесь оставаться в Божьем покое в стрессовых ситуация<br>
• получите освобождение от грехов<br>
• получите глубокое понимание воли Бога для вашей жизни
                        </p>
                    </div>
                </div>
            </div>
{# #}
        </div>
    </div>
</section>

<section class="cid-rUA5E8RtMk" id="video3-4u">
    <figure class="mbr-figure align-center container">
        <div class="video-block" style="width: 100%;">
            <div>
                <iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/5xL75nwuMBQ?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </figure>
</section>

<section class="extTeams cid-rVqSw1Cs5K" id="extTeams8-5k">
    <div class="container">
        <div class="pb-3">
            <h4 class="mb-3">Кто проводит?</h4>

            {% for item in mentors %}
<div class="card py-4 col-md-12">
    <div class="card-wrapper">
        {% thumbnail item.image "150x150" crop="top" as im %}
        <img src="{{ im.url }}" style="border-radius: 50%;" alt="">
        {% endthumbnail %}
        <div class="card-box">
            <div class="text-box">
                <h4 class="card-title mbr-fonts-style mbr-normal display-5">{{ item.name }}</h4>
                <p class="mbr-text mbr-fonts-style status mbr-normal display-4">{{ item.function }}</p>
{#                <p class="mbr-text mbr-fonts-style mbr-normal display-4">{{ item.about|linebreaksbr }}</p>#}
            </div>
            <div class="ico-wrap">
                {% if item.phone_visible %}
                <div class="ico-box">
                    <a href="tel:{{ item.phone }}">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social mbri-mobile2"></span>
                    </a>
                    <span class="mbr-text mbr-fonts-style mbr-normal display-4">{{ item.phone }}</span>
                </div>
                {% endif %}
                <div class="ico-box">
                    {% if item.telegram %}
                    <a href="{{ item.telegram }}" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-telegram socicon"></span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
            {% empty %}
                <p>Наставники не найдены, воспользуйтесь формой обратной связи ниже</p>
            {% endfor %}
        </div>
    </div>
</section>

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}