{% include "include/head.html" %}
{% load thumbnail %}

<section class="header1 cid-rSJAsnj6pk" data-bg-video="https://youtu.be/_3Eb-QifqeU?list=PLHigPqeFZw1Ui0QZdEmlarmBLO2g7zKjV" id="header1-2b">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Обучение</h1>
            </div>
        </div>
    </div>
</section>

<section class="extTimeline cid-rSJAWpbaO9" id="extTimeline1-2c">
    <div class="container-fluid align-center">
        <div class="container timelines-container pt-4" mbri-timelines="">\
{# #}
            <div class="row timeline-element first-separline separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Программа «Мой духовный рост»</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Бог желает для нас роста и духовной зрелости. С того момента, как мы доверили свою жизнь Богу, Он ведёт постоянную работу с нами. Он желает, чтобы мы всё больше и больше становились теми, кем Он нас задумал.
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Почему рост настолько важен?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Отсутствие духовной зрелости мешает достижению целей. Неразвивающийся верующий человек столкнётся с разочарованием, неудачами, конфликтами. Грехи испортят ему жизнь, Он не сможет  жить в мире, силе и победе. Бог задумал для нас не такую жизнь.
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Духовному росту способствует наставничество.</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Мы все нуждаемся в поддержке, чтобы крепко стоять в вере, пребывать в Божьем Слове, любить и совершать добрые дела. Нам необходимо общение с людьми, которые знают Бога и которые могут помочь нам в укреплении отношений с Ним. (которые знают Бога - заменить одним эпитетом)
<br>Деяния св. Апостолов 2:42
<br>…Они постоянно пребывали в … общении и преломлении хлеба…
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Для кого?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
Если вы недавно: стали посещать церковь, молились молитвой покаяния, начали общаться с верующими, интересуетесь христианством.
<br>А также если вы хотите обновить ваши отношения с Богом, укрепить веру, внести свежесть призванию.
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Как это сделать?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
Выберите себе наставника.
<br>Условия:
 <br>⁃ Приоритет у наставника с вашей домашней группы.
 <br>⁃ Если вы не в домашней группе, то можете выбрать произвольно себе наставника.
 <br>⁃ Наставник должен быть одного пола с вами. (Это возможно только онлайн и рядом есть человек)
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Из чего состоит программа?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
Программа длится 4 недели по 5 тем.
                        </p>
                    </div>
                </div>
            </div>
{# #}
            <div class="row timeline-element">
                <div class="timeline-date-panel col-xs-12 col-md-3 align-left"></div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-9">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Какие результаты вас ждут?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
 • Познакомитесь с Богом ближе
 <br>• Научитесь слышать Его
 <br>• Получите свободу от грехов, вредных привычек и зависимостей
 <br>• Влюбитесь в Слово Божье и начнёте изучать его глубже
                        </p>
                    </div>
                </div>
            </div>
{# #}
        </div>
    </div>
</section>

<section class="cid-rUA5E8RtMk" id="video3-4u">
    <figure class="mbr-figure align-center container">
        <div class="video-block" style="width: 100%;">
            <div>
                <iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/5xL75nwuMBQ?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </figure>
</section>

<section class="extTeams cid-rVqSw1Cs5K" id="extTeams8-5k">
    <div class="container">
        <div class="pb-3">
            <h4 class="mb-3">Команда наставников</h4>
            {% for profile in mentors %}
                <span class="mt-3">{{ article.date }} - {% firstof article.section "Черновики" %}</span>
                <p><a class="text-secondary" href="/article-{{ article.pk }}">
                    {% thumbnail profile.image "100x100" crop="top" as im %}
                    <img style="border-radius: 50%;" src="{{ im.url }}" alt="{{ profile.name }}">&nbsp;{{ profile.name }}
                    {% endthumbnail %}
                </a></p>
            {% empty %}
                <p>Наставники не найдены, воспользуйтесь формой обратной связи ниже</p>
            {% endfor %}
        </div>
    </div>
</section>

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}