{% include "include/head.html" %}
<section class="mbr-section content5 cid-rWKJDHkQWF" id="content5-6l">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-2">Новости</h3>
                
                
            </div>
        </div>
    </div>
</section>
{{ newssection }}

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}