{% include "include/head.html" %}
{% load thumbnail %}
<section class="header1 cid-rVqSw0TuXl" data-bg-video="https://www.youtube.com/watch?v=36YgDDJ7XSc" id="header1-5j">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 7, 29);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Профиль пользователя</h1>
            </div>
        </div>
    </div>
</section>
<section class="extTeams cid-rVqSw1Cs5K" id="extTeams8-5k">
    <div class="container">
        <div id="command_list" class="row row-content justify-content-center">
            {{ profile_html }}
        </div>
        {% if profile.user.pk == user.pk %}
            <a class="display-4 btn btn-secondary mb-3" href="/writer">Написать статью</a>
            <a class="display-4 btn btn-secondary mb-3" href="/account">Редактировать профиль</a>
            <form method="post" action="/auth/logout/" style="float: right">
                {% csrf_token %}
                <button type="submit" class="btn-secondary-outline btn">Выйти</button>
            </form>

        {% endif %}
        <div class="pb-3">
            <h4 class="mb-3">Статьи пользователя:</h4>
            {% for article in profile_news %}
                <span class="mt-3">{{ article.date }} - {% firstof article.section "Черновики" %}</span>
                <p><a class="text-secondary" href="/article-{{ article.pk }}">
                    {% thumbnail article.cover "50x50" crop="top" as im %}
                    <img style="border-radius: 50%;" src="{{ im.url }}">&nbsp;{{ article.title }}
                    {% endthumbnail %}
                </a></p>
            {% empty %}
                <p>Статьи не найдены</p>
            {% endfor %}
        </div>
    </div>
</section>

{% include "include/footer.html" %}
{% include "include/footer_js.html" %}